# NLTK application

**1. Imports and databse connection**

In [1]:
import nltk
import sqlite3
import pandas as pd
import string
import regex as re 

import warnings
warnings.filterwarnings('ignore')

from nltk.tokenize import TweetTokenizer
from nltk.tokenize import MWETokenizer
from nltk.corpus import stopwords

conn = sqlite3.connect('/Users/ograndberry/Desktop/berlin_startup_jobs_analysis/bsj_db.db')
c = conn.cursor()

**2. Get the raw data**

In [2]:
raw_data = pd.read_sql_query('SELECT * FROM bsj_table',conn)
raw_data.head()

,id,company_name,jobtitle,description
0,1,Fatmap,Mobile Engineer for Outdoor Adventure Sports,Role & Responsibility: \n\nYou’ll be building ...
1,2,AI Engine,Machine Learning,AI Engine is developing innovative machine lea...
2,3,November,Senior Full Stack PHP Developer (f/m),Your mission:\n\nDevelopment of a scalable sof...
3,4,Wayfair,Jr. Manager SEO UK (Onpage) (m/f),Your tasks:\n\nKeyword research and competitor...
4,5,CrossEngage,Data Scientist,About CrossEngage\nCrossEngage is a cloud-base...

**3. Import the perks, skills, and industry csv files**

In [3]:
skills_rawdata= pd.read_csv('Skills.csv')
perks_rawdata= pd.read_csv('Perks.csv')
industry_rawdata = pd.read_csv('Industry.csv')

In [4]:
skills_rawdata.head()

,group,item1,item2,item3,item4,item5,item6,item7,item8,item9,item10,item11,item12,item13,item14
0,.net,.net,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3d,3d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,access,access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ActiveMQ,ActiveMQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,agile,agile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Reshape the tables**

In [5]:
#reshape to 2 to rows 
skills_rawdata = pd.melt(skills_rawdata, id_vars=['group'])
#drop null values
skills_rawdata.dropna(inplace=True)
#drop unecessary columns
skills_rawdata.drop('variable',1, inplace=True)
#make the text lower
skills_rawdata['group'] = skills_rawdata['group'].str.lower()
skills_rawdata['value'] = skills_rawdata['value'].str.lower()

In [6]:
perks_rawdata = pd.melt(perks_rawdata, id_vars=['group'])
perks_rawdata.dropna(inplace=True)
perks_rawdata.drop('variable',1, inplace=True)
perks_rawdata['group'] = perks_rawdata['group'].str.lower()
perks_rawdata['value'] = perks_rawdata['value'].str.lower()

In [7]:
industry_rawdata = pd.melt(industry_rawdata, id_vars=['group'])
industry_rawdata.dropna(inplace=True)
industry_rawdata.drop('variable',1, inplace=True)
industry_rawdata['group'] = industry_rawdata['group'].str.lower()
industry_rawdata['value'] = industry_rawdata['value'].str.lower()

In [8]:
#check an example outcome
skills_rawdata.head()

      group     value
0      .net      .net
1        3d        3d
2    access    access
3  activemq  activemq
4     agile     agile

**4. Create list of keywords for each category**

In [9]:
#empty list to save the 3 following lists in it
all_list = []
skills_list = skills_rawdata['value'].str.lower().str.split().tolist()
perks_list = perks_rawdata['value'].str.lower().str.split().tolist()
industry_list = industry_rawdata['value'].str.lower().str.split().tolist()

#join all lists 
all_list.extend(skills_list)
all_list.extend(perks_list)
all_list.extend(industry_list)

In [10]:
#at this stage we have all keywords we saved as import to grab if present of in the job description
all_list

[['.net'],
 ['3d'],
 ['access'],
 ['activemq'],
 ['agile'],
 ['ajax'],
 ['akka'],
 ['amazon', 'aws'],
 ['android'],
 ['angular'],
 ['ansible'],
 ['apache', 'cordova'],
 ['apex'],
 ['apis'],
 ['appium'],
 ['asp.net-mvc'],
 ['assembly'],
 ['augmented-reality'],
 ['azure'],
 ['babel'],
 ['backbone.js'],
 ['backend', 'api’s'],
 ['bash'],
 ['behat'],
 ['bem'],
 ['bigdata'],
 ['bigquery'],
 ['bitbucket'],
 ['bootstrap'],
 ['bower'],
 ['yarn'],
 ['browserify'],
 ['bubblesort'],
 ['c'],
 ['c#'],
 ['c++'],
 ['cad'],
 ['calabash'],
 ['cassandra'],
 ['chai'],
 ['chef'],
 ['ci', 'server'],
 ['clojure'],
 ['cloudformation'],
 ['cloudfoundry'],
 ['cloudwatch'],
 ['codeception'],
 ['coffeescript'],
 ['columnstore'],
 ['confluence'],
 ['couchdb'],
 ['cqrs'],
 ['css'],
 ['cucumber'],
 ['d3'],
 ['data-science'],
 ['database'],
 ['datadog'],
 ['deep-learning'],
 ['django'],
 ['docker'],
 ['dry'],
 ['ecmascript', '6'],
 ['ecs'],
 ['elastic', 'search'],
 ['elixir'],
 ['elm'],
 ['erlang'],
 ['erp-systems'],
 ['es6'],
 ['etl', 'framework'],
 ['express'],
 ['f2p'],
 ['flux-architecture'],
 ['ga'],
 ['gce'],
 ['gcp'],
 ['gherkin'],
 ['gis'],
 ['git'],
 ['github'],
 ['go'],
 ['gocd'],
 ['golang'],
 ['google', 'analytics'],
 ['grails'],
 ['graphql'],
 ['groovy'],
 ['grunt'],
 ['gtm'],
 ['gulp'],
 ['hadoop'],
 ['haml'],
 ['haproxy'],
 ['haskell'],
 ['hbase'],
 ['hibernate'],
 ['highcharts'],
 ['hive'],
 ['html'],
 ['http'],
 ['impala'],
 ['interaction', 'design'],
 ['ionic'],
 ['ios'],
 ['jasmine'],
 ['java'],
 ['javascript'],
 ['jenkins'],
 ['jira'],
 ['jms'],
 ['jpa'],
 ['jquery'],
 ['json'],
 ['junit'],
 ['jvm'],
 ['kafka'],
 ['kanban'],
 ['kotlin'],
 ['kubernetes'],
 ['lambda'],
 ['laravel'],
 ['less'],
 ['linux'],
 ['liquibase'],
 ['localytics'],
 ['looker'],
 ['lucene'],
 ['machine', 'learning'],
 ['mapreduce'],
 ['mariadb'],
 ['matlab'],
 ['maven'],
 ['memcached'],
 ['mesos'],
 ['meteor'],
 ['mllib'],
 ['mocha'],
 ['modern', 'jvm'],
 ['mongodb'],
 ['mvc'],
 ['mvp'],
 ['mvvm'],
 ['mvvm'],
 ['mysql'],
 ['nagios'],
 ['native'],
 ['netsuite'],
 ['nginx'],
 ['nginx'],
 ['nightwatch'],
 ['node.js'],
 ['nosql'],
 ['npm'],
 ['objective', 'c'],
 ['oop'],
 ['opennebula'],
 ['openstack'],
 ['openstreetmap'],
 ['openvz'],
 ['optimizely'],
 ['oracle'],
 ['orchestration'],
 ['otrs'],
 ['pandas'],
 ['perl'],
 ['php'],
 ['piwik'],
 ['play'],
 ['post.css'],
 ['postgresql'],
 ['presto'],
 ['promises/q'],
 ['protractor'],
 ['puppet'],
 ['python'],
 ['python', 'celery'],
 ['qlikview'],
 ['qml'],
 ['qt'],
 ['quicksight'],
 ['qunit'],
 ['r'],
 ['rabbitmq'],
 ['rds'],
 ['react'],
 ['realm'],
 ['redis'],
 ['redux'],
 ['relayjs'],
 ['require.js'],
 ['rest'],
 ['riak'],
 ['ruby', 'on', 'rails'],
 ['rxjs'],
 ['s3'],
 ['sap'],
 ['sass'],
 ['scala'],
 ['scikit-learn'],
 ['scipy'],
 ['scrum'],
 ['sdk'],
 ['selenium'],
 ['shell'],
 ['sinatra'],
 ['sisense'],
 ['sketchapp'],
 ['skill'],
 ['snowplow'],
 ['soap'],
 ['solr'],
 ['spark'],
 ['spinnaker'],
 ['spring'],
 ['sql'],
 ['sqs'],
 ['swift'],
 ['symfony3'],
 ['t-sql'],
 ['tableau'],
 ['tcp/ip', 'stack'],
 ['tdd/testing'],
 ['tensorflow'],
 ['terraform'],
 ['testlink'],
 ['testng'],
 ['twig'],
 ['typescript'],
 ['ui'],
 ['ui/ux'],
 ['underscore'],
 ['unix'],
 ['unix/linux'],
 ['ux'],
 ['vaadin'],
 ['varnish'],
 ['vba'],
 ['video.js'],
 ['virtuozzo'],
 ['visualforce'],
 ['vmware'],
 ['vpn'],
 ['vr'],
 ['vue'],
 ['vwo'],
 ['watchguard'],
 ['webpack'],
 ['websocket'],
 ['websphere'],
 ['windows'],
 ['wordpress'],
 ['xcode'],
 ['xhtml'],
 ['xml'],
 ['xp'],
 ['zend-framework'],
 ['amazon', 'dynamodb'],
 ['angular-fullstack'],
 ['ansible'],
 ['apache', 'spark'],
 ['api'],
 ['asp.net'],
 ['augmented', 'reality'],
 ['backbone'],
 ['c++11'],
 ['ci-system'],
 ['clojurescript'],
 ['couchbase'],
 ['css3'],
 ['d3.js'],
 ['ecmascript-6'],
 ['elasticsearch'],
 ['erp'],
 ['etl'],
 ['express.js'],
 ['google', 'apps', 'script'],
 ['grunt.js'],
 ['gulp.js'],
 ['hdfs'],
 ['html', '5'],
 ['ios-frameworks'],
 ['java-ee'],
 ['javascript'],
 ['lamp'],
 ['machine', 'learning-'],
 ['memcache'],
 ['mocha'],
 ['mysql-databases'],
 ['nightwatch.js'],
 ['node'],
 ['objective-c'],
 ['plsql'],
 ['php7'],
 ['postgresql'],
 ['react', 'native'],
 ['redux', 'thunk'],
 ['rest', 'api'],
 ['ruby-on-rails'],
 ['reactivex'],
 ['selenium-webdriver'],
 ['sketch'],
 ['spring-boot'],
 ['sql-server'],
 ['symfony'],
 ['tsql'],
 ['tableau-server'],
 ['tcp/ip'],
 ['tdd'],
 ['user', 'i'],
 ['unix/linux'],
 ['user', 'experience'],
 ['vue.js'],
 ['wp'],
 ['zend'],
 ['amazon', 'redshift'],
 ['angular', '4'],
 ['apache', 'storm'],
 ['ready', 'api'],
 ['ecmascript-7'],
 ['elasticsearch'],
 ['google', 'cloud', 'platform'],
 ['gruntjs'],
 ['html5'],
 ['java', '8'],
 ['js'],
 ['ml'],
 ['mocking'],
 ['node', 'js'],
 ['php5'],
 ['postgres', 'sql'],
 ['react.js'],
 ['rest', 'apis'],
 ['ruby'],
 ['rxjava'],
 ['spring', 'cloud', 'netflix'],
 ['symfony', '2'],
 ['t', 'sql'],
 ['tcp', 'ip'],
 ['user', 'interface'],
 ['user', 'x'],
 ['zend', 'framework'],
 ['amazon-ecs'],
 ['angular.js'],
 ['apache', 'tomcat'],
 ['ecmascript'],
 ['elasticsearch'],
 ['google', 'tag', 'manager'],
 ['messaging', 'jms'],
 ['js', 'web', 'components'],
 ['mockito'],
 ['php-fpm'],
 ['postgresql'],
 ['reactjs'],
 ['rest', 'apis'],
 ['ruby', 'on', 'rails'],
 ['symfony-2.1'],
 ['transact', 'sql'],
 ['user-interface'],
 ['user-experience'],
 ['zend', '2'],
 ['amazon-kinesis'],
 ['angular2'],
 ['apache-storm'],
 ['aws', 'elasticcache'],
 ['google', 'container', 'engine'],
 ['mockups'],
 ['php', 'symfony'],
 ['postgresql-9.6'],
 ['react'],
 ['restapi'],
 ['ruby-on-rails'],
 ['symfony2'],
 ['transact-sql'],
 ['ux'],
 ['amazon-lambda'],
 ['angularjs'],
 ['apache-kafka'],
 ['elasticcache'],
 ['google-analytics'],
 ['mockito'],
 ['fuelphp'],
 ['react', 'js'],
 ['restful', 'api'],
 ['ruby-on-rails-4'],
 ['symfony3'],
 ['amazon-web-services'],
 ['angular-ui-bootstrap'],
 ['tomcat'],
 ['aws', 'kinesis'],
 ['google-cloud-platform'],
 ['react', 'native'],
 ['restful', 'apis'],
 ['rails'],
 ['aws'],
 ['kafta'],
 ['google-container-engine'],
 ['react', 'redux'],
 ['restful', 'apis'],
 ['ror'],
 ['aws-code-deploy'],
 ['svn'],
 ['gwt'],
 ['react-native'],
 ['restful-architecture'],
 ['aws'],
 ['airflow'],
 ['ga'],
 ['react-redux'],
 ['aws-lambda'],
 ['gtm'],
 ['reactjs'],
 ['aws', 'stack'],
 ['redux'],
 ['dynamo', 'db'],
 ['redshift'],
 ['free', 'time'],
 ['education'],
 ['gym'],
 ['working', 'for', 'home'],
 ['free', 'meal'],
 ['offsites'],
 ['ping', 'pong'],
 ['bvg'],
 ['coffee'],
 ['bring', 'your', 'pet'],
 ['modern', 'equipment'],
 ['laptop', 'of', 'your', 'choice'],
 ['german', 'classes'],
 ['discount'],
 ['visa', 'sponsorship'],
 ['an', 'attractive', 'compensation', 'package'],
 ['parental', 'leave'],
 ['great', 'mentors'],
 ['yoga'],
 ['flexible', 'work', 'time'],
 ['free', 'meals'],
 ['oktoberfest'],
 ['table', 'soccer'],
 ['cars'],
 ['free', 'coffee'],
 ['pets', 'welcome'],
 ['great', 'office', 'location'],
 ['macbook'],
 ['free', 'german', 'and', 'english', 'courses'],
 ['discounts'],
 ['visa', 'assistance'],
 ['a', 'competitive', 'pay'],
 ['unlimited', 'vacation'],
 ['career', 'development'],
 ['pilates'],
 ['flexible', 'work', 'hours'],
 ['team', 'lunch'],
 ['company', 'retreats'],
 ['kicker'],
 ['free', 'transport'],
 ['free', 'fruits'],
 ['pet', 'welcome'],
 ['office', 'space'],
 ['modern', 'technologies'],
 ['language', 'course'],
 ['employee', 'discount'],
 ['visa'],
 ['fair', 'compensation'],
 ['paid', 'time', 'off'],
 ['potential', 'to', 'develop'],
 ['massage'],
 ['flexible', 'working', 'hours'],
 ['team', 'breakfast'],
 ['team-events'],
 ['playstation'],
 ['travel'],
 ['fruits'],
 ['pet'],
 ['heart', 'of', 'berlin'],
 ['learn', 'german'],
 ['relocation', 'service'],
 ['attractive', 'compensation'],
 ['career', 'development'],
 ['gym', 'membership'],
 ['flexible', 'schedules'],
 ['birthday', 'cake'],
 ['fun', 'events'],
 ['table', 'tenis'],
 ['ability', 'to', 'travel'],
 ['snacks'],
 ['dog'],
 ['modern', 'office'],
 ['learn', 'english'],
 ['relocation', 'assistance'],
 ['competitive', 'wages'],
 ['personal', 'learning'],
 ['cake', 'on', 'your', 'birthday'],
 ['office', 'parties'],
 ['pool', 'table'],
 ['drinks'],
 ['pets', 'are', 'welcome'],
 ['language', 'courses'],
 ['trainings'],
 ['learning', 'lunch'],
 ['bbq'],
 ['ping-pong'],
 ['subsidized', 'lunch'],
 ['dogs'],
 ['free', 'german', 'language', 'courses'],
 ['equity', 'options'],
 ['workshops'],
 ['lunches'],
 ['sports', 'activities'],
 ['healthy', 'lunches'],
 ['pets'],
 ['virtual', 'stock', 'options'],
 ['conferences'],
 ['coffee'],
 ['bbqs'],
 ['bbqs'],
 ['training', 'sessions'],
 ['free', 'coffee'],
 ['thirsty', 'thursdays'],
 ['cereals'],
 ['online', 'learning'],
 ['free', 'fruits'],
 ['fun'],
 ['beer'],
 ['educational', 'budget'],
 ['fruits'],
 ['parties'],
 ['brunches'],
 ['coaching'],
 ['snacks'],
 ['bbq'],
 ['cocktail', 'nights'],
 ['mentoring'],
 ['drinks'],
 ['lunch', 'and', 'learns'],
 ['beer', 'friday'],
 ['meetups'],
 ['subsidized', 'lunch'],
 ['bbqs'],
 ['mystery', 'lunch'],
 ['learn@work'],
 ['healthy', 'lunches'],
 ['thirsty'],
 ['breakast', 'club'],
 ['external', 'training', 'budget'],
 ['bbqs'],
 ['birthday'],
 ['beer', 'fridays'],
 ['offered', 'trainings'],
 ['cereals'],
 ['retreat'],
 ['free', 'breakfast'],
 ['linkedin', 'learning', 'account'],
 ['beer'],
 ['offsite'],
 ['book', 'allowance'],
 ['brunches'],
 ['offsites'],
 ['shared', 'kindles'],
 ['cocktail', 'nights'],
 ['team', 'events'],
 ['personal', 'development'],
 ['cocktail'],
 ['ecommerce'],
 ['ad2games'],
 ['barzahlen'],
 ['inventorum'],
 ['basilicom'],
 ['aeria', 'games'],
 ['dushmash'],
 ['clue'],
 ['babbel'],
 ['bonativo'],
 ['abroadwith'],
 ['auto1', 'group'],
 ['comatch'],
 ['lamudi'],
 ['ableton'],
 ['auctionata'],
 ['adjust'],
 ['billpay'],
 ['itembase'],
 ['crossengage'],
 ['crowdpark'],
 ['eyeem'],
 ['mediteo'],
 ['blinkist'],
 ['deliveroo'],
 ['getyourguide'],
 ['blacklane'],
 ['gohiring'],
 ['immobilienscout'],
 ['lofelt'],
 ['bjooli'],
 ['adsquare'],
 ['bergfürst'],
 ['kaufda'],
 ['contentful'],
 ['fox', '&', 'sheep'],
 ['kitchen', 'stories'],
 ['meedoc'],
 ['inversity'],
 ['delivery', 'hero'],
 ['goeuro'],
 ['book', 'a', 'tiger'],
 ['honeypot'],
 ['mcmakler'],
 ['native', 'instruments'],
 ['bonial'],
 ['applause'],
 ['bonify'],
 ['käuferportal'],
 ['dcmn'],
 ['gameduell'],
 ['memorado'],
 ['medexo'],
 ['k.lab', 'edumedia'],
 ['eatfirst'],
 ['guestbird'],
 ['carmudi'],
 ['heavenhr'],
 ['mykeys24'],
 ['soundcloud'],
 ['bonagora'],
 ['applift'],
 ['brickgate'],
 ['locafox'],
 ['dc', 'media', 'networks'],
 ['kabam'],
 ['mytaxi'],
 ['medigo'],
 ['research', 'gate'],
 ['foodora'],
 ['holidaypirates'],
 ['helpling'],
 ['tandemploy'],
 ['movago'],
 ['music', 'industry'],
 ['byebuy'],
 ['crobo'],
 ['cashboard'],
 ['minodes'],
 ['digitaleseiten'],
 ['king'],
 ['onefootball'],
 ['neuronation'],
 ['skive'],
 ['foodpanda'],
 ['suitepad'],
 ['service', 'partner', 'one'],
 ['viasto'],
 ['coffee', 'circle'],
 ['contiama'],
 ['finleap'],
 ['newstore'],
 ['fanpage', 'karma'],
 ['softgames'],
 ['parktag'],
 ['sanubi'],
 ['sofatutor'],
 ['hellofresh'],
 ['wimdu'],
 ['thermondo'],
 ['dawanda'],
 ['datapine'],
 ['liqid'],
 ['products', 'up'],
 ['kyto'],
 ['treasurehuntstudios'],
 ['tvsmiles'],
 ['marley', 'spoon'],
 ['zizoo'],
 ['vimcar'],
 ['discounto'],
 ['deltamethod'],
 ['mambu'],
 ['qipu'],
 ['linkbird'],
 ['wooga'],
 ['erento'],
 ['fyber'],
 ['number26'],
 ['newsletter2go'],
 ['gaming', 'industry'],
 ['flaconi'],
 ['glispa'],
 ['optiopay'],
 ['optivo'],
 ['home24'],
 ['gamegenetics'],
 ['orderbird'],
 ['uberall'],
 ['junique'],
 ['iconpeak'],
 ['payleven'],
 ['ubermetrics'],
 ['kw-commerce'],
 ['liquidm'],
 ['raisin'],
 ['styla'],
 ['lesara'],
 ['mapegy'],
 ['savedo'],
 ['zanox'],
 ['lyke'],
 ['plista'],
 ['smava'],
 ['mirapodo'],
 ['roq.ad'],
 ['solarisbank'],
 ['mister', 'spex'],
 ['remerge'],
 ['modomoto'],
 ['sociomantic'],
 ['monoqi'],
 ['trademob'],
 ['outfittery'],
 ['webtrekk'],
 ['urbanara'],
 ['yoc'],
 ['runashop'],
 ['vaola'],
 ['visual', 'meta'],
 ['wine', 'in', 'black'],
 ['zalando'],
 ['99chairs']]

**5. Use the list to tockenize the job descriptions**

In [11]:
tokenizer = MWETokenizer()
tknzr = TweetTokenizer()

In [12]:
def text_process_group(mess):
    """
    1. Lower case the input
    2. Remove punctuation expect '-'
    3. Apply custom tokenizer
    4. Return column of clean text words"""
    mess.lower()
    regex = r"[^\P{P}-]+"
    new_mess= re.sub(regex, " ", mess, 0)    
    tokenizer = MWETokenizer(all_list, separator=' ')
    token = tokenizer.tokenize(new_mess.lower().split())
    sw = [x for x in token if x not in stopwords.words('english')]
    return sw

In [13]:
#apply the customized tokenizer, it takes a bit more time
raw_data['description 2'] = raw_data['description'].apply(text_process_group)

In [14]:
raw_data.head()

,id,company_name,jobtitle,description,description 2
0,1,Fatmap,Mobile Engineer for Outdoor Adventure Sports,Role & Responsibility: \n\nYou’ll be building ...,"[role, responsibility, building, fatmap, mobil..."
1,2,AI Engine,Machine Learning,AI Engine is developing innovative machine lea...,"[ai, engine, developing, innovative, machine l..."
2,3,November,Senior Full Stack PHP Developer (f/m),Your mission:\n\nDevelopment of a scalable sof...,"[mission, development, scalable, software, pla..."
3,4,Wayfair,Jr. Manager SEO UK (Onpage) (m/f),Your tasks:\n\nKeyword research and competitor...,"[tasks, keyword, research, competitor, analysi..."
4,5,CrossEngage,Data Scientist,About CrossEngage\nCrossEngage is a cloud-base...,"[crossengage, crossengage, cloud-based, market..."

**6. Create clusters**

In [15]:
#create dictionnaries of keyords and their respective clusters
skills_model = skills_rawdata.set_index('value').to_dict()['group']
perks_model = perks_rawdata.set_index('value').to_dict()['group']
industry_model = industry_rawdata.set_index('value').to_dict()['group']

In [29]:
skills_model

AttributeError: 'dict' object has no attribute 'head'

**7. Apply cluster to harmonize**

In [17]:
skills_tagger = nltk.tag.UnigramTagger(model=skills_model)
perks_tagger = nltk.tag.UnigramTagger(model=perks_model)
industry_tagger = nltk.tag.UnigramTagger(model=industry_model)

In [18]:
#create new tables with the id and the description 2
skills_table = raw_data[['id','description 2']]
perks_table = raw_data[['id','description 2']]
industry_table = raw_data[['id','description 2']]

In [19]:
#create the tagging fuction 
def applytagskills(word):
    tag= skills_tagger.tag(word)
    return tag

def applytagperks(word):
    tag= perks_tagger.tag(word)
    return tag

def applytagindustry(word):
    tag= industry_tagger.tag(word)
    return tag

In [20]:
#apply the tagging fuction
skills_table['tags']= skills_table['description 2'].apply(applytagskills)
perks_table['tags'] = perks_table['description 2'].apply(applytagperks)
industry_table['tags'] = industry_table['description 2'].apply(applytagindustry)

In [21]:
skills_table.head()

,id,description 2,tags
0,1,"[role, responsibility, building, fatmap, mobil...","[(role, None), (responsibility, None), (buildi..."
1,2,"[ai, engine, developing, innovative, machine l...","[(ai, None), (engine, None), (developing, None..."
2,3,"[mission, development, scalable, software, pla...","[(mission, None), (development, None), (scalab..."
3,4,"[tasks, keyword, research, competitor, analysi...","[(tasks, None), (keyword, None), (research, No..."
4,5,"[crossengage, crossengage, cloud-based, market...","[(crossengage, None), (crossengage, None), (cl..."

**8. Clean the final tables**

In [22]:
skills_table = skills_table.set_index(['id'])['tags'].apply(pd.Series).stack()
skills_table = pd.DataFrame(skills_table.reset_index(level=1, drop=True))
skills_table.columns = ['combinaisons']
skills_table.index.names = ['job_id']
#split tuples into 2 columns
skills_table = skills_table ['combinaisons'].apply(pd.Series)
#rename column
skills_table.columns = ['words','skill_name']
skills_table.dropna(inplace = True)
skills_table.reset_index(inplace = True)
#when a job ad muliple keywords leading to the same category we need to avoid repetition
skills_table = skills_table.drop_duplicates(['job_id','skill_name']).set_index('job_id')
skills = skills_table[['skill_name']]

In [23]:
perks_table = perks_table.set_index(['id'])['tags'].apply(pd.Series).stack()
perks_table= pd.DataFrame(perks_table.reset_index(level=1, drop=True))
perks_table.columns = ['combinaisons']
perks_table.index.names = ['job_id']
#split tuples into 2 columns
perks_table= perks_table['combinaisons'].apply(pd.Series)
#rename column
perks_table.columns = ['words','perk_name']
perks_table.dropna(inplace = True)
perks_table.reset_index(inplace = True)
#when a job ad muliple keywords leading to the same category we need to avoid repetition
perks_table = perks_table.drop_duplicates(['job_id','perk_name']).set_index('job_id')
perks = perks_table[['perk_name']]

In [24]:
industry_table = industry_table .set_index(['id'])['tags'].apply(pd.Series).stack()
industry_table = pd.DataFrame(industry_table.reset_index(level=1, drop=True))
industry_table .columns = ['combinaisons']
industry_table .index.names = ['job_id']
#split tuples into 2 columns
industry_table = industry_table ['combinaisons'].apply(pd.Series)
#rename column
industry_table .columns = ['words','industry_name']
industry_table .dropna(inplace = True)
industry_table .reset_index(inplace = True)
#when a job ad muliple keywords leading to the same category we need to avoid repetition
industry_table  = industry_table .drop_duplicates(['job_id','industry_name']).set_index('job_id')
industry = industry_table [['industry_name']]

In [25]:
skills.head()

       skill_name
job_id
1          native
1            ios
1         android
1           react
1              3d

In [26]:
industry.head()

              industry_name
job_id
5       marketing solutions
5              fooddelivery
15                    games
32                  service
37             fooddelivery

In [27]:
perks.head()

                      perk_name
job_id
3          personal development
3                   team events
3                 catered meals
3       attractive compensation
4          personal development

**9. Send the tables to the database**

In [28]:
skills.to_sql('Skills', conn, if_exists='replace')
perks.to_sql('Perks', conn, if_exists='replace')
industry.to_sql('Industry', conn, if_exists='replace')