In [54]:
import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv('Machine-Learning-clustering-skills/merged_jobs.csv', index_col=0)

In [56]:
df.head()

,ID,company_name,date,description,jobtitle,source
0,1,Fatmap,2017-10-02,Role & Responsibility: \n\nYou’ll be building ...,Mobile Engineer for Outdoor Adventure Sports,Berlin Startup Jobs
1,2,AI Engine,2017-10-02,AI Engine is developing innovative machine lea...,Machine Learning,Berlin Startup Jobs
2,3,November,2017-10-02,Your mission:\n\nDevelopment of a scalable sof...,Senior Full Stack PHP Developer (f/m),Berlin Startup Jobs
3,4,Wayfair,2017-10-02,Your tasks:\n\nKeyword research and competitor...,Jr. Manager SEO UK (Onpage) (m/f),Berlin Startup Jobs
4,5,CrossEngage,2017-10-02,About CrossEngage\nCrossEngage is a cloud-base...,Data Scientist,Berlin Startup Jobs

In [57]:
len(df)

842

### remove irrelevant job titles

#### search for all wrong patterns and remove them

In [58]:
searchfor =['Salesforce Experte', 'Office Manager', 'Junior Customer Solution', 'Content Management', 'Finance Accountant', 'IT Helpdesk', 'Configuration Manager', 'Distribution Partnerships', 'Digital Marketing Specialist', 'Digital Consultant', 'Quality Assurance Manager', 'Release Manager', 'Strategic Accounts', 'Business Development', 'Physician']
df = df[~df['jobtitle'].str.contains('|'.join(searchfor))]

#### check if it worked

In [59]:
df[df['jobtitle'] == 'Salesforce Experte (m/w)']

Empty DataFrame
Columns: [ID, company_name, date, description, jobtitle, source]
Index: []

In [60]:
len(df)

826

In [61]:
df.to_csv('merged_jobs.csv', sep=',')