# NLTK application

**1. Imports and databse connection**

In [1]:
import nltk
import sqlite3
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

conn = sqlite3.connect('/Users/ograndberry/Desktop/berlin_startup_jobs_analysis/Database_Sqlite/db_berlin_jobs.db')
c = conn.cursor()

**2. Get the raw data**

In [2]:
raw_data = pd.read_csv('../data-cleaning/Clean_JobTitles/dfclean.csv', index_col=0)
raw_data.head()

,company_name,date,description,jobtitle,CleanTitles,source
ID,,,,,,
1,Fatmap,2017-10-02,Role & Responsibility: \n\nYou’ll be building ...,mobile engineer,Mobile App Developer,Berlin Startup Jobs
2,AI Engine,2017-10-02,AI Engine is developing innovative machine lea...,machine learning,Machine Learning Engineer,Berlin Startup Jobs
3,November,2017-10-02,Your mission:\n\nDevelopment of a scalable sof...,senior full stack php developer (f m),Full Stack Developer,Berlin Startup Jobs
5,CrossEngage,2017-10-02,About CrossEngage\nCrossEngage is a cloud-base...,data scientist,Data Scientist,Berlin Startup Jobs
6,Ruum,2017-10-02,If you’re passionate about learning new techno...,full stack developer,Full Stack Developer,Berlin Startup Jobs

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 825 entries, 1 to 1887
Data columns (total 6 columns):
company_name    825 non-null object
date            825 non-null object
description     825 non-null object
jobtitle        825 non-null object
CleanTitles     825 non-null object
source          825 non-null object
dtypes: object(6)
memory usage: 45.1+ KB

In [4]:
raw_data['description'] = raw_data['description'].str.lower()

In [5]:
raw_data['description'] = raw_data['description'].astype(str).str.cat(raw_data['company_name'].astype(str), sep=' ').str.lower()

In [6]:
def create_clusters(dfname, searchfor,tag):
    dfname= pd.DataFrame(raw_data['description'].str.contains('|'.join(searchfor)))
    dfname= dfname[dfname['description']==True]
    dfname['description']=tag
    return dfname

In [7]:
searchfor = ['free time off','parental leave','unlimited vacation','paid time off']
freetime = create_clusters(dfname='freetime',searchfor=searchfor,tag='Time Off')

In [8]:
freetime

     description
ID
1597    Time Off

In [9]:
searchfor1 = ['personal development',
 'education budget',
 'great mentors',
 'career development',
 'potential to develop ',
 'career development',
 'personal learning',
 'trainings',
 'workshops',
 'conferences',
 'training sessions',
 'online learning',
 'educational budget',
 'coaching',
 'mentoring',
 'meetups',
 'learn@work',
 'external training budget',
 'offered trainings',
 'linkedin learning account',
 'book allowance',
 'shared kindles',
 'personal development']
personal_development = create_clusters(dfname='personal_development',searchfor=searchfor1,tag='Personal Development')

In [10]:
searchfor2 = [' sport ', ' gym ', ' yoga ', ' pilates ', ' massage ', 'gym membership']
sport = create_clusters(dfname='sport',searchfor=searchfor2,tag='Sport')

In [11]:
searchfor3 = ['flexible schedules','working from home','flexible work time','flexible work hours',
              ' flexible working hours','flexible schedules','home office','flexible schedule', 'flexible hours','remote work']
flexible_schedule = create_clusters(dfname='flexible_schedule',searchfor=searchfor3,tag='Flexible Schedule')

In [12]:
searchfor4 = ['catered meals','free meal','free meals','team lunch','team breakfast','birthday cake',
              'cake on your birthday','learning lunch','lunches','coffee','free coffee','free fruits','fruits',
              'snacks','drink','subsidized lunch','bbq','cereals',' beer ','brunches',
              'cocktail nights','cocktail']
catered_meals = create_clusters(dfname='catered_meals',searchfor=searchfor4,tag='Catered Meals')

In [13]:
searchfor6 = ['team event','offsites','oktoberfest','company retreats','team event',
 'fun events','office part','bbq','sport activities','thirsty thursdays',' fun ',
 'parties','bbq','lunch and learn','bbqs','thirsty','birthday','retreat','offsite']
team_events = create_clusters(dfname='team_events',searchfor=searchfor6,tag='Team Events')

In [14]:
searchfor7 = ['game room','ping pong''table soccer',' kicker','playstation','table tenis',
 'pool table','ping-pong']
games_rooms = create_clusters(dfname='games_rooms',searchfor=searchfor7,tag='Game Rooms')

In [15]:
searchfor8 = ['transportation allowance',
 ' bvg','company car','free transport','often travel','ability to travel','business travel','business trip']
transportation = create_clusters(dfname='transportation ',searchfor=searchfor8,tag='Transportation Allowance')

In [16]:
searchfor9 = ['coffee','free coffee','free fruits','fruits','snacks','drinks','bbq','cereals','breakast club','free breakfast']
breakfast = create_clusters(dfname='breakfast',searchfor=searchfor9,tag='Free Breakfast')

In [17]:
searchfor10 = ['pets are welcome','bring your pet',' pets','pet welcome',' pet ','bring your dog',' dogs']
pets = create_clusters(dfname='pets',searchfor=searchfor10,tag='Pets Welcome')

In [18]:
searchfor11 = ['modern office','modern equipment','great office location','office space','heart of berlin',
 'modern office','office terrace','free laptop','laptop of your choice','macbook','modern technologies','choose your laptop','best equipment',
 'latest equipment','modern equipement','private telephone']
modern_office = create_clusters(dfname='modern_office',searchfor=searchfor11,tag='Modern Office')

In [19]:
searchfor12 = ['free language','german class','free german and english','language course',
               'learn german','learn english','language course','free german']
languages = create_clusters(dfname='languages ',searchfor=searchfor12,tag='Free language courses')

In [20]:
searchfor13 = ['discounts','employee discount','company discount','special price']
discounts = create_clusters(dfname='discounts',searchfor=searchfor13,tag='Discounts')

In [21]:
searchfor14 = ['visa ','relocation']
relocation = create_clusters(dfname='relocation',searchfor=searchfor14,tag='Visa/Relocation')

In [22]:
searchfor15 = ['competitive pay','fair compensation','attractive compensation','competitive wage',
 'competitive salary','equity option','stock option']
compensation = create_clusters(dfname='compensation',searchfor=searchfor15,tag='Attractive Compensation')

In [23]:
a =freetime.append([compensation,relocation,discounts,languages,modern_office,pets,breakfast,transportation,games_rooms,
                team_events,catered_meals,flexible_schedule,sport,personal_development]).reset_index().sort_values('ID')

In [24]:
a.columns = ['job_id','perk_name']
perks = a.set_index('job_id')

In [25]:
perks.head(10)

                      perk_name
job_id
1             Flexible Schedule
3                 Catered Meals
3       Attractive Compensation
3          Personal Development
3                Free Breakfast
5                   Team Events
5                 Modern Office
5                 Catered Meals
5                Free Breakfast
6          Personal Development

In [26]:
perks_rawdata= pd.read_csv('Perks.csv')
industry_rawdata = pd.read_csv('Industry.csv')

In [27]:
[x.lower() for x in list(perks_rawdata.iloc[15,:].dropna())]

['attractive compensation',
 'an attractive compensation package',
 '\na competitive pay',
 'fair compensation',
 'attractive compensation',
 'competitive wages',
 'competitive salary',
 'equity options',
 'virtual stock options']

In [28]:
[x.lower() for x in list(industry_rawdata.iloc[14,:].dropna())]

['music',
 'ableton',
 'lofelt',
 'native instruments',
 'soundcloud',
 'music industry',
 'gruvit']

In [29]:
raw_data.ix[254]['company_name']

'COMATCH'

In [30]:
raw_data.ix[254]['description']

'comatch connects independent consultants and industry experts with companies of any size and sector: the pool of more than 2600 handpicked consultants grows every day and helps start-ups, small and medium-sized businesses, consulting firms and enterprises to approach and master challenges. comatch acts fast, offers excellent consulting and focuses on personal relationships with all business partners. our aim is to become europe’s biggest consultant marketplace within the next years. to realize this vision, we need support and are currently looking for:\njavascript developer (m/f)\nyour responsibilities\n\nimplementing new features using the latest javascript (es2015)\noptimising/refactoring parts of source code\nhelping us automate testing by implementing a combination unit-, integration- and e2e-tests\ncontributing to continual improvement by suggesting improvements to code architecture, processes or development tools\nstaying up to date on meteor development and javascript development in general\ncommunicating and coordinating with other team members to maximise our development efforts\n\nyour qualifications\n\nminimum 2 years of professional experience in javascript development\nprevious experience with at least one professional meteor project (if no experience then ability/ willingness to rapidly get up to speed on a new framework is required)\nprevious experience with mongodb is a great plus\nenthusiasm to research and suggest solutions to new technical problems and drive to find a clean solution technical problems\nstrong focus on code quality and long term maintenance\nability to communicate and work well within a small team\n\nour offer\n\nimportant role in the international growth story of comatch with high autonomy and decision making power\nhighly motivated and dynamic team with passion for business impact and fun working atmosphere\ncool, centrally located office in berlin\n\nare you interested? we are looking forward to your call or your letter of application!\nclaudia beutel | hr manager | telephone: +49-(0)30-85767542 | e-mail: c.beutel@comatch.com comatch'

In [31]:
searchfori0 = ['ecommerce industry','auctionata','bjooli','bonial','bonagora','byebuy','coffee circle','dawanda',
             'discounto','erento','flaconi ','home24','junique','kw-commerce','lesara','lyke',
 'mirapodo','mister spex','modomoto','monoqi','outfittery','urbanara','runashop','vaola',
 'visual meta','wine in black','zalando','e commerce industry','rebuy','e-commerce indu','online shop']
eCommerce = create_clusters(dfname='eCommerce',searchfor=searchfori0,tag='e-commerce')

In [32]:
searchfori1 = ['adtech',
 'ad2games',
 'adjust',
 'adsquare',
 'applause',
 'applift',
 'crobo',
 'contiama',
 'datapine',
 'deltamethod',
 'fyber',
 'glispa',
 'gamegenetics',
 'iconpeak',
 'liquidm',
 'mapegy',
 'plista',
 'roq.ad',
 'remerge',
 'sociomantic',
 'trademob',
 'webtrekk',
 'yoc',
 'ad-booking',
 'ad booking',
 'adtech',
 'zeotap',
 'adjust by adeven','ad tech', 'advertising platform', 'reach their customers', 'target customers','integrated solution','pubnative','saas solution','small improvements']
adTech = create_clusters(dfname='adTech',searchfor=searchfori1,tag='AdTech')

In [33]:
searchfori2 = [
 'barzahlen',
 'billpay',
 'bergfürst',
 'bonify',
 'brickgate',
 'cashboard',
 'finleap',
 'liqid',
 'mambu',
 'number26',
 'optiopay',
 'orderbird',
 'payleven',
 'raisin',
 'savedo',
 'smava',
 'solarisbank',
 'fintech',
 'financial industry','finreach','financial organisation','financial inst']
finTech = create_clusters(dfname='finTech',searchfor=searchfori2,tag='FinTech')

In [34]:
searchfori3 = ['retail technology',
 'inventorum',
 'itembase',
 'kaufda',
 'käuferportal',
 'locafox',
 'minodes',
 'newstore',
 'products up',
 'qipu',
 'retail industry', 'retail']
retailtech = create_clusters(dfname='retailtech',searchfor=searchfori3,tag='Retail Technology')

In [35]:
searchfori4 = ['marketing solutions','marketing platform'
 'basilicom',
 'crossengage',
 'contentful',
 'dcmn',
 'dc media networks',
 'digitaleseiten',
 'fanpage karma',
 'kyto',
 'linkbird',
 'newsletter2go',
 'optivo',
 'uberall',
 'ubermetrics',
 'styla',
 'zanox',
 'goedle.io',
 'retentiongrid',
 'wunderdata','chartmogul']
marketingsol = create_clusters(dfname='marketingsol',searchfor=searchfori4,tag='Marketing Solutions')

In [36]:
searchfori5 = [
 'aeria games',
 'crowdpark',
 'fox & sheep',
 'gameduell',
 'kabam',
 ' king',
 'softgames',
 'treasurehuntstudios',
 'wooga',
 'gaming industry',
 'game industry',
 'game creation',
 'game development',
 'game creation',
 'neriad games', 'gaming','fox and sheep']
games = create_clusters(dfname='games',searchfor=searchfori5,tag='Game')

In [37]:
searchfori6 = [
 'dushmash',
 'eyeem',
 'kitchen stories',
 'memorado',
 'mytaxi',
 'onefootball',
 'parktag',
 'tvsmiles', 'our app ', 'an app ', 'the app ','our new mobile apps']
app= create_clusters(dfname='app',searchfor=searchfori6,tag='App')

In [38]:
searchfori7 = [
 ' clue',
 'mediteo',
 'meedoc',
 'medexo',
 'medigo',
 'neuronation',
 'sanubi',
 'health industry',
 'medlanes',
 'humanoo', 'healthcare industry', " health ",'mindspace',
    'heartbeat medical','audibene', 'dentolo','thalamed', 'patient','egym','workout']
health= create_clusters(dfname='health',searchfor=searchfori7,tag='Health')

In [39]:
searchfori8 = ['edutech',
 'babbel',
 'blinkist',
 'inversity',
 'k.lab edumedia',
 'research gate',
 'skive',
 'sofatutor',
 'education industry',
 'akdemia',
 'preply',
 'unlockyourbrain',
 'liberio',
 'skive',
 'vismath', 'learning app', 'learning platform', 'learning online']
edutech= create_clusters(dfname='edutech',searchfor=searchfori8,tag='EduTech')

In [40]:
searchfori9 = ['food delivery',
 'bonativo',
 'deliveroo',
 'delivery hero',
 'eatfirst',
 'foodora',
 'foodpanda',
 'hellofresh',
 'marley spoon',
 'food industry',
 'food delivery',
 'wine in black', 'foodspring','food delivered']
food = create_clusters(dfname='food',searchfor=searchfori9,tag='Food Delivery')

In [41]:
searchfori10 = [
 'abroadwith',
 'getyourguide',
 'goeuro',
 'guestbird',
 'holidaypirates',
 'suitepad',
 'wimdu',
 'zizoo',
 'travel industry','travellers','travelling']
travel = create_clusters(dfname='travel',searchfor=searchfori10,tag='Travel')

In [42]:
searchfori11 = [
 'auto1 group',
 'blacklane',
 'book a tiger',
 'carmudi',
 'helpling',
 'service partner one',
 'thermondo',
 'vimcar',
 'cleaning industry',
 'car booking',
 'yachtico',
 'ondango', 'book a car', 'cleaner', 'yacht', 'boat', 'funeral market', 'auto1.com','automotive industry']
service = create_clusters(dfname='service',searchfor=searchfori11,tag='Service')

In [43]:
searchfori12 = ['comatch',
 'gohiring',
 'honeypot',
 'heavenhr',
 'tandemploy',
 'viasto',
 'human ressource industry',
 'hr industry',
 'human ressources industry','recruitment agency', 'recruitment agency','recruiting agency']
hr = create_clusters(dfname='hr',searchfor=searchfori12,tag='HR')

In [44]:
searchfori13 = [
 'lamudi',
 'immobilienscout',
 'mcmakler',
 'mykeys24',
 'movago',
 'real estate', 'book a flat', 'find an accommodation','moving abroad','find a flat','movinga','immobilien scout']
realestate = create_clusters(dfname='realestate',searchfor=searchfori13,tag='Real Estate')

In [45]:
searchfori14 = ['ableton',
 'lofelt',
 'native instruments',
 'music industry',
 'gruvit','native instruments','music streaming']
music = create_clusters(dfname='music',searchfor=searchfori14,tag='Music')

In [46]:
b =music.append([realestate,hr,service,travel,edutech,health,app,games,marketingsol,retailtech,finTech,adTech,eCommerce]).reset_index().sort_values('ID')

In [47]:
b.columns = ['job_id','industry_name']
industry = b.set_index('job_id').reset_index()

In [48]:
industry.head()

   job_id        industry_name
0       1                  App
1       3              Service
2       5  Marketing Solutions
3       6               Health
4       7              Service

In [49]:
counting = pd.DataFrame(industry['industry_name'].value_counts()).reset_index()

In [50]:
counting.columns =('industry_name','Counts')

In [51]:
df = pd.merge(industry,counting, how = 'left', on = 'industry_name')
df = df.sort_values(['industry_name','Counts','job_id'],ascending= False)
df_final = df.drop_duplicates(subset=('job_id'), keep="first")

In [52]:
df_final

     job_id industry_name  Counts
391    1877    e-commerce      54
389    1869    e-commerce      54
388    1868    e-commerce      54
381    1854    e-commerce      54
379    1850    e-commerce      54
378    1846    e-commerce      54
376    1841    e-commerce      54
374    1835    e-commerce      54
370    1824    e-commerce      54
368    1823    e-commerce      54
367    1815    e-commerce      54
355    1799    e-commerce      54
352    1795    e-commerce      54
348    1786    e-commerce      54
346    1783    e-commerce      54
342    1779    e-commerce      54
341    1776    e-commerce      54
333    1756    e-commerce      54
332    1755    e-commerce      54
331    1754    e-commerce      54
324    1747    e-commerce      54
321    1746    e-commerce      54
316    1736    e-commerce      54
314    1734    e-commerce      54
311    1732    e-commerce      54
307    1723    e-commerce      54
304    1712    e-commerce      54
302    1704    e-commerce      54
301    1703    e-commerce      54
298    1700    e-commerce      54
..      ...           ...     ...
273    1628        AdTech      51
248    1583        AdTech      51
241    1567        AdTech      51
240    1566        AdTech      51
239    1565        AdTech      51
238    1564        AdTech      51
237    1563        AdTech      51
215     484        AdTech      51
195     456        AdTech      51
194     454        AdTech      51
193     453        AdTech      51
184     430        AdTech      51
172     409        AdTech      51
150     348        AdTech      51
140     309        AdTech      51
102     234        AdTech      51
100     226        AdTech      51
93      206        AdTech      51
89      195        AdTech      51
82      180        AdTech      51
77      170        AdTech      51
73      161        AdTech      51
69      147        AdTech      51
66      145        AdTech      51
32       64        AdTech      51
18       29        AdTech      51
10       17        AdTech      51
7        11        AdTech      51
6        10        AdTech      51
5         8        AdTech      51

[335 rows x 3 columns]

In [53]:
industry = df_final[['job_id','industry_name']]

In [54]:
data = raw_data.reset_index()

In [55]:
import numpy as np

In [56]:
list1 = list(data['ID'])
list2 = list(industry['job_id'])
main_list = np.setdiff1d(list1,list2)

In [57]:
main_list = np.setdiff1d(list1,list2)

In [58]:
others = pd.DataFrame(main_list)
others['industry'] = 'Other'
others.columns =['job_id','industry_name']
industry_final = others.append(industry)

In [59]:
industry_final = industry_final.sort_values('job_id')
industry_final = industry_final.head().set_index('job_id')

In [60]:
industry_final.head()

              industry_name
job_id
1                       App
2                     Other
3                   Service
5       Marketing Solutions
6                    Health

**9. Send the tables to the database**

In [61]:
perks.to_sql('Perks', conn, if_exists='replace')
industry_final.to_sql('Industry', conn, if_exists='replace')