# NLTK application

**1. Imports and databse connection**

In [1]:
import nltk
import sqlite3
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

conn = sqlite3.connect('/Users/ograndberry/Desktop/berlin_startup_jobs_analysis/Database_Sqlite/db_berlin_jobs.db')
c = conn.cursor()

**2. Get the raw data**

In [2]:
raw_data = pd.read_csv('../data-cleaning/Clean_JobTitles/dfclean.csv', index_col=0)
raw_data.head()

,company_name,date,description,jobtitle,CleanTitles,source
ID,,,,,,
1,Fatmap,2017-10-02,Role & Responsibility: \n\nYou’ll be building ...,mobile engineer,Mobile App Developer,Berlin Startup Jobs
2,AI Engine,2017-10-02,AI Engine is developing innovative machine lea...,machine learning,Machine Learning Engineer,Berlin Startup Jobs
3,November,2017-10-02,Your mission:\n\nDevelopment of a scalable sof...,senior full stack php developer (f m),Full Stack Developer,Berlin Startup Jobs
5,CrossEngage,2017-10-02,About CrossEngage\nCrossEngage is a cloud-base...,data scientist,Data Scientist,Berlin Startup Jobs
6,Ruum,2017-10-02,If you’re passionate about learning new techno...,full stack developer,Full Stack Developer,Berlin Startup Jobs

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 825 entries, 1 to 1887
Data columns (total 6 columns):
company_name    825 non-null object
date            825 non-null object
description     825 non-null object
jobtitle        825 non-null object
CleanTitles     825 non-null object
source          825 non-null object
dtypes: object(6)
memory usage: 45.1+ KB

In [4]:
raw_data['description'] = raw_data['description'].str.lower()

In [5]:
def create_clusters(dfname, searchfor,tag):
    dfname= pd.DataFrame(raw_data['description'].str.contains('|'.join(searchfor)))
    dfname= dfname[dfname['description']==True]
    dfname['description']=tag
    return dfname

In [6]:
searchfor = ['free time off','parental leave','unlimited vacation','paid time off']
freetime = create_clusters(dfname='freetime',searchfor=searchfor,tag='Time Off')

In [7]:
freetime

     description
ID
1597    Time Off

In [8]:
searchfor1 = ['personal development',
 'education budget',
 'great mentors',
 'career development',
 'potential to develop ',
 'career development',
 'personal learning',
 'trainings',
 'workshops',
 'conferences',
 'training sessions',
 'online learning',
 'educational budget',
 'coaching',
 'mentoring',
 'meetups',
 'learn@work',
 'external training budget',
 'offered trainings',
 'linkedin learning account',
 'book allowance',
 'shared kindles',
 'personal development']
personal_development = create_clusters(dfname='personal_development',searchfor=searchfor1,tag='Personal Development')

In [9]:
searchfor2 = [' sport ', ' gym ', ' yoga ', ' pilates ', ' massage ', 'gym membership']
sport = create_clusters(dfname='sport',searchfor=searchfor2,tag='Sport')

In [10]:
searchfor3 = ['flexible schedules','working from home','flexible work time','flexible work hours',
              ' flexible working hours','flexible schedules','home office','flexible schedule', 'flexible hours','remote work']
flexible_schedule = create_clusters(dfname='flexible_schedule',searchfor=searchfor3,tag='Flexible Schedule')

In [11]:
searchfor4 = ['catered meals','free meal','free meals','team lunch','team breakfast','birthday cake',
              'cake on your birthday','learning lunch','lunches','coffee','free coffee','free fruits','fruits',
              'snacks','drink','subsidized lunch','bbq','cereals',' beer ','brunches',
              'cocktail nights','cocktail']
catered_meals = create_clusters(dfname='catered_meals',searchfor=searchfor4,tag='Catered Meals')

In [12]:
searchfor6 = ['team event','offsites','oktoberfest','company retreats','team event',
 'fun events','office part','bbq','sport activities','thirsty thursdays',' fun ',
 'parties','bbq','lunch and learn','bbqs','thirsty','birthday','retreat','offsite']
team_events = create_clusters(dfname='team_events',searchfor=searchfor6,tag='Team Events')

In [13]:
searchfor7 = ['game room','ping pong''table soccer',' kicker','playstation','table tenis',
 'pool table','ping-pong']
games_rooms = create_clusters(dfname='games_rooms',searchfor=searchfor7,tag='Game Rooms')

In [14]:
searchfor8 = ['transportation allowance',
 ' bvg','company car','free transport','often travel','ability to travel','business travel','business trip']
transportation = create_clusters(dfname='transportation ',searchfor=searchfor8,tag='Transportation Allowance')

In [15]:
searchfor9 = ['coffee','free coffee','free fruits','fruits','snacks','drinks','bbq','cereals','breakast club','free breakfast']
breakfast = create_clusters(dfname='breakfast',searchfor=searchfor9,tag='Free Breakfast')

In [16]:
searchfor10 = ['pets are welcome','bring your pet',' pets','pet welcome',' pet ','bring your dog',' dogs']
pets = create_clusters(dfname='pets',searchfor=searchfor10,tag='Pets Welcome')

In [17]:
searchfor11 = ['modern office','modern equipment','great office location','office space','heart of berlin',
 'modern office','office terrace','free laptop','laptop of your choice','macbook','modern technologies','choose your laptop','best equipment',
 'latest equipment','modern equipement','private telephone']
modern_office = create_clusters(dfname='modern_office',searchfor=searchfor11,tag='Modern Office')

In [18]:
searchfor12 = ['free language','german class','free german and english','language course',
               'learn german','learn english','language course','free german']
languages = create_clusters(dfname='languages ',searchfor=searchfor12,tag='Free language courses')

In [19]:
searchfor13 = ['discounts','employee discount','company discount','special price']
discounts = create_clusters(dfname='discounts',searchfor=searchfor13,tag='Discounts')

In [20]:
searchfor14 = ['visa ','relocation']
relocation = create_clusters(dfname='relocation',searchfor=searchfor14,tag='Visa/Relocation')

In [21]:
searchfor15 = ['competitive pay','fair compensation','attractive compensation','competitive wage',
 'competitive salary','equity option','stock option']
compensation = create_clusters(dfname='compensation',searchfor=searchfor15,tag='Attractive Compensation')

In [22]:
a =freetime.append([compensation,relocation,discounts,languages,modern_office,pets,breakfast,transportation,games_rooms,
                team_events,catered_meals,flexible_schedule,sport,personal_development]).reset_index().sort_values('ID')

In [23]:
a.columns = ['job_id','perk_name']
perks = a.set_index('job_id')

In [24]:
perks.head(10)

                      perk_name
job_id
1             Flexible Schedule
3                 Catered Meals
3       Attractive Compensation
3          Personal Development
3                Free Breakfast
5                   Team Events
5                 Modern Office
5                 Catered Meals
5                Free Breakfast
6          Personal Development

In [25]:
perks_rawdata= pd.read_csv('Perks.csv')
industry_rawdata = pd.read_csv('Industry.csv')

In [26]:
[x.lower() for x in list(perks_rawdata.iloc[15,:].dropna())]

['attractive compensation',
 'an attractive compensation package',
 '\na competitive pay',
 'fair compensation',
 'attractive compensation',
 'competitive wages',
 'competitive salary',
 'equity options',
 'virtual stock options']

In [27]:
[x.lower() for x in list(industry_rawdata.iloc[14,:].dropna())]

['music',
 'ableton',
 'lofelt',
 'native instruments',
 'soundcloud',
 'music industry',
 'gruvit']

In [28]:
raw_data.ix[114]['description']

'our platform matches travellers with pre-selected travel specialists, making the booking of individual and adventure trips comparable, fast and easy. we combine the first-hand experience of a travel agency with the simplicity of an online product.\nour vision is to become the leading tech company in individual tourism with an innovative business model and a sustainable company culture. to achieve it, we are supported by investors such holtzbrinck ventures and airbnb, which act as valuable consultants on our management board.\nright now we are bootstrapping all it projects. thus, perfect timing to jump on in a new adventure and join our team. this is the stack to make it happen:\n\nbackend and frontend apps with ruby w/o rails and angular/react\naws with ecs managed by terraform\ncontinuous delivery through jenkins\na kafka with several producers collecting data from every single part of the company\nai (e.g. amazon machine learning)\nseveral microservices that offer machine learning insights to the different apps\neach app (mostly ruby/rails) has a portal for b2b, b2c and cms\nautomation and optimization of all marketing campaigns\nin the future we will play with high speed bidding to optimize these campaigns\n\ndoes this make sense?\nwhat we expect from you:\n\nyou understood the previous paragraph\xa0:-p, and already have ideas to improve our plan, or you simply want to be part of it\nyou gained at least two years professional experience working with ruby/rails, aws and frontend technologies\nyou are very passionate about software, curious, and eager to learn\nyou are confident enough to run and be responsible of production services\nyou believe in a healthy balance between delivering business value, and experimentation/playing\n\nmore reasons to join our journey:\n\nour startup is making money from day one\nnothing is set in stone yet, your input will have a huge impact\nmake individual and adventure trips great again. our technology will provide the best user experience to our customers\nteam up with excellent co-workers with background in companies such as airbnb, wooga, rocket internet, helpling, dubsmash and many more\nfounders who understand the importance of tech and developer needs\nwe believe in a small but excellent team\nuse our great network in the european and us startup scene\n\nplus the baseline for berlin startups:\n\nvery open and transparent company culture with a fast and agile development cycle\nan attractive compensation package\nconference and educational budget\nfresh fruit, müsli, drinks, coffee circle, two djs in the team –> amazing team events\nfree of choice dev-environment\n\nwe are looking forward to get to know you!'

In [29]:
searchfori0 = ['ecommerce industry','auctionata','bjooli','bonial','bonagora','byebuy','coffee circle','dawanda',
             'discounto','erento','flaconi ','home24','junique','kw-commerce','lesara','lyke',
 'mirapodo','mister spex','modomoto','monoqi','outfittery','urbanara','runashop','vaola',
 'visual meta','wine in black','zalando','e commerce industry','rebuy','e-commerce indu','online shop']
eCommerce = create_clusters(dfname='eCommerce',searchfor=searchfori0,tag='e-commerce')

In [30]:
searchfori1 = ['adtech',
 'ad2games',
 'adjust',
 'adsquare',
 'applause',
 'applift',
 'crobo',
 'contiama',
 'datapine',
 'deltamethod',
 'fyber',
 'glispa',
 'gamegenetics',
 'iconpeak',
 'liquidm',
 'mapegy',
 'plista',
 'roq.ad',
 'remerge',
 'sociomantic',
 'trademob',
 'webtrekk',
 'yoc',
 'ad-booking',
 'ad booking',
 'adtech',
 'zeotap',
 'adjust by adeven','ad tech']
adTech = create_clusters(dfname='adTech',searchfor=searchfori1,tag='AdTech')

In [31]:
searchfori2 = [
 'barzahlen',
 'billpay',
 'bergfürst',
 'bonify',
 'brickgate',
 'cashboard',
 'finleap',
 'liqid',
 'mambu',
 'number26',
 'optiopay',
 'orderbird',
 'payleven',
 'raisin',
 'savedo',
 'smava',
 'solarisbank',
 'fintech',
 'financial industry']
finTech = create_clusters(dfname='finTech',searchfor=searchfori2,tag='FinTech')

In [32]:
searchfori3 = ['retail technology',
 'inventorum',
 'itembase',
 'kaufda',
 'käuferportal',
 'locafox',
 'minodes',
 'newstore',
 'products up',
 'qipu',
 'retail industry']
retailtech = create_clusters(dfname='retailtech',searchfor=searchfori3,tag='Retail Technology')

In [33]:
searchfori4 = ['marketing solutions','marketing platform'
 'basilicom',
 'crossengage',
 'contentful',
 'dcmn',
 'dc media networks',
 'digitaleseiten',
 'fanpage karma',
 'kyto',
 'linkbird',
 'newsletter2go',
 'optivo',
 'uberall',
 'ubermetrics',
 'styla',
 'zanox',
 'goedle.io',
 'retentiongrid',
 'wunderdata']
marketingsol = create_clusters(dfname='marketingsol',searchfor=searchfori4,tag='Marketing Solutions')

In [34]:
searchfori5 = [
 'aeria games',
 'crowdpark',
 'fox & sheep',
 'gameduell',
 'kabam',
 ' king',
 'softgames',
 'treasurehuntstudios',
 'wooga',
 'gaming industry',
 'game industry',
 'game creation',
 'game development',
 'game creation',
 'neriad games']
games = create_clusters(dfname='games',searchfor=searchfori5,tag='Game')

In [35]:
searchfori6 = [
 'dushmash',
 'eyeem',
 'kitchen stories',
 'memorado',
 'mytaxi',
 'onefootball',
 'parktag',
 'tvsmiles']
app= create_clusters(dfname='app',searchfor=searchfori6,tag='App')

In [36]:
searchfori7 = [
 ' clue',
 'mediteo',
 'meedoc',
 'medexo',
 'medigo',
 'neuronation',
 'sanubi',
 'health industry',
 'medlanes',
 'humanoo', 'healthcare industry']
health= create_clusters(dfname='health',searchfor=searchfori7,tag='Health')

In [37]:
searchfori8 = ['edutech',
 'babbel',
 'blinkist',
 'inversity',
 'k.lab edumedia',
 'research gate',
 'skive',
 'sofatutor',
 'education industry',
 'akdemia',
 'preply',
 'unlockyourbrain',
 'liberio',
 'skive',
 'vismath', 'learning app', 'learning platform']
edutech= create_clusters(dfname='edutech',searchfor=searchfori8,tag='EduTech')

In [38]:
searchfori9 = ['food delivery',
 'bonativo',
 'deliveroo',
 'delivery hero',
 'eatfirst',
 'foodora',
 'foodpanda',
 'hellofresh',
 'marley spoon',
 'food industry',
 'food delivery',
 'wine in black']
food = create_clusters(dfname='food',searchfor=searchfori9,tag='Food Delivery')

In [39]:
searchfori10 = [
 'abroadwith',
 'getyourguide',
 'goeuro',
 'guestbird',
 'holidaypirates',
 'suitepad',
 'wimdu',
 'zizoo',
 'travel industry']
travel = create_clusters(dfname='travel',searchfor=searchfori10,tag='Travel')

In [40]:
searchfori11 = [
 'auto1 group',
 'blacklane',
 'book a tiger',
 'carmudi',
 'helpling',
 'service partner one',
 'thermondo',
 'vimcar',
 'cleaning industry',
 'car booking',
 'yachtico',
 'ondango']
service = create_clusters(dfname='service',searchfor=searchfori11,tag='Service')

In [41]:
searchfori12 = ['comatch',
 'gohiring',
 'honeypot',
 'heavenhr',
 'tandemploy',
 'viasto',
 'human ressource industry',
 'hr industry',
 'human ressources industry','recruitment agency']
hr = create_clusters(dfname='hr',searchfor=searchfori12,tag='HR')

In [42]:
searchfori13 = [
 'lamudi',
 'immobilienscout',
 'mcmakler',
 'mykeys24',
 'movago',
 'real estate']
realestate = create_clusters(dfname='realestate',searchfor=searchfori13,tag='Real Estate')

In [43]:
searchfori14 = ['ableton',
 'lofelt',
 'native instruments',
 'soundcloud',
 'music industry',
 'gruvit']
music = create_clusters(dfname='music',searchfor=searchfori14,tag='Music')

In [44]:
b =music.append([realestate,hr,service,travel,edutech,health,app,games,marketingsol,retailtech,finTech,adTech,eCommerce]).reset_index().sort_values('ID')

In [45]:
b.columns = ['job_id','industry_name']
industry = b.set_index('job_id')

In [46]:
industry

              industry_name
job_id
5       Marketing Solutions
10                   AdTech
15                     Game
32                  Service
45                  FinTech
46                  FinTech
47                  FinTech
50               e-commerce
56                     Game
63                   AdTech
77                   Travel
78                   Travel
80                   Travel
84                  FinTech
85                  FinTech
86               e-commerce
91                  FinTech
98                  Service
102                 EduTech
103              e-commerce
104              e-commerce
105              e-commerce
114                    Game
114              e-commerce
114                 Service
124                 Service
126             Real Estate
144                  AdTech
145                  AdTech
146                  AdTech
...                     ...
1780                EduTech
1785                FinTech
1786             e-commerce
1791      Retail Technology
1791    Marketing Solutions
1795             e-commerce
1798    Marketing Solutions
1798      Retail Technology
1799             e-commerce
1806                FinTech
1807                 AdTech
1809                EduTech
1814                EduTech
1823             e-commerce
1824                 AdTech
1824             e-commerce
1831            Real Estate
1840                 Health
1841             e-commerce
1843    Marketing Solutions
1846             e-commerce
1850             e-commerce
1854             e-commerce
1861      Retail Technology
1866                 AdTech
1867            Real Estate
1868             e-commerce
1869             e-commerce
1877             e-commerce
1880      Retail Technology

[219 rows x 1 columns]

**9. Send the tables to the database**

In [47]:
perks.to_sql('Perks', conn, if_exists='replace')
industry.to_sql('Industry', conn, if_exists='replace')