In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

from nltk.tokenize import TweetTokenizer
from nltk.tokenize import MWETokenizer
from nltk.corpus import stopwords
import string
import regex as re

In [2]:
stack_skills = pd.read_csv('DB/stackoverflow_skills.csv')

In [3]:
bsj_skills = pd.read_csv('DB/bsj_skills.csv')

In [4]:
frames = [stack_skills, bsj_skills]

In [5]:
skills = pd.concat(frames)

In [6]:
skills.head()

   job_id   skill
0     553       r
1     553  python
2     553     sql
3     554  python
4     554     sql

In [7]:
bsj_jobs = pd.read_csv('DB/bsj_jobs.csv')
bsj_jobs.head()

,ID,company_name,jobtitle,description,date,source
0,1,Fatmap,Mobile Engineer for Outdoor Adventure Sports,Role & Responsibility: \n\nYou’ll be building ...,2017-10-02,Berlin Startup Jobs
1,2,AI Engine,Machine Learning,AI Engine is developing innovative machine lea...,2017-10-02,Berlin Startup Jobs
2,3,November,Senior Full Stack PHP Developer (f/m),Your mission:\n\nDevelopment of a scalable sof...,2017-10-02,Berlin Startup Jobs
3,4,Wayfair,Jr. Manager SEO UK (Onpage) (m/f),Your tasks:\n\nKeyword research and competitor...,2017-10-02,Berlin Startup Jobs
4,5,CrossEngage,Data Scientist,About CrossEngage\nCrossEngage is a cloud-base...,2017-10-02,Berlin Startup Jobs

In [8]:
stack_jobs = pd.read_csv('DB/stackoverflow_jobs.csv')
stack_jobs.head()

,ID,jobtitle,description,company_name,source,date
0,1535,"Senior PHP Engineer, Marketplace - Turn trips ...",Our Marketplace department is looking for a Se...,GetYourGuide AG,Stackoverflow,2017-11-26
1,1536,Senior Frontend Engineer (m/f) at Bonial Inter...,What the team lead says about the team:The CDP...,Bonial International GmbH,Stackoverflow,2017-11-26
2,1537,Senior Frontend Engineer (f/m) at Delivery Her...,Delivery Hero is building the next generation ...,Delivery Hero AG,Stackoverflow,2017-11-26
3,1538,DevOps Engineer (m/f) at CeleraOne GmbH (Berli...,StellenbeschreibungDevelop the future of journ...,CeleraOne GmbH,Stackoverflow,2017-11-26
4,1539,Java Developer wanted for leading e-hailing ap...,As of now we are looking to recruit a highly m...,mytaxi (Intelligent Apps GmbH),Stackoverflow,2017-11-26

In [9]:
frames2 = [bsj_jobs, stack_jobs]

In [10]:
jobs = pd.concat(frames2)

In [11]:
jobs.head(10)

,ID,company_name,date,description,jobtitle,source
0,1,Fatmap,2017-10-02,Role & Responsibility: \n\nYou’ll be building ...,Mobile Engineer for Outdoor Adventure Sports,Berlin Startup Jobs
1,2,AI Engine,2017-10-02,AI Engine is developing innovative machine lea...,Machine Learning,Berlin Startup Jobs
2,3,November,2017-10-02,Your mission:\n\nDevelopment of a scalable sof...,Senior Full Stack PHP Developer (f/m),Berlin Startup Jobs
3,4,Wayfair,2017-10-02,Your tasks:\n\nKeyword research and competitor...,Jr. Manager SEO UK (Onpage) (m/f),Berlin Startup Jobs
4,5,CrossEngage,2017-10-02,About CrossEngage\nCrossEngage is a cloud-base...,Data Scientist,Berlin Startup Jobs
5,6,Ruum,2017-10-02,If you’re passionate about learning new techno...,Full Stack Developer,Berlin Startup Jobs
6,7,Auto1.com,2017-10-02,What you will do:\n\nFull lifecycle engineerin...,Senior Java Developer,Berlin Startup Jobs
7,8,Elinvar,2017-10-02,Elinvar offers an integrated solution for asse...,Junior DevOps Engineer (m/f),Berlin Startup Jobs
8,9,AI Engine,2017-10-02,AI Engine is developing innovative machine lea...,Java or Python Developer,Berlin Startup Jobs
9,10,PubNative,2017-10-02,Your Responsibilities:\n\nUncover new opportun...,Data Scientist (m/f),Berlin Startup Jobs

In [12]:
jobs.to_csv('merged_jobs.csv', sep=',')

In [13]:
skills.to_csv('merged_skills.csv', sep=',')

In [14]:
merged_skills = pd.read_csv('merged_skills.csv', index_col=0)
merged_skills.head()

   job_id   skill
0     553       r
1     553  python
2     553     sql
3     554  python
4     554     sql

In [15]:
merged_skills.keys()

Index(['job_id', 'skill'], dtype='object')

In [16]:
from sklearn.cluster import KMeans

In [17]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction import text

In [18]:
import nltk.stem
global english_stemmer 
english_stemmer = nltk.stem.SnowballStemmer('english')
class StemmedCountVectorizer(CountVectorizer):
    def build_analyzer(self):
        analyzer = super(CountVectorizer, self).build_analyzer()
        return lambda doc: (english_stemmer.stem(w) for w in analyzer(doc))

In [19]:
stop_words = ['and','&']
vectorizer = StemmedCountVectorizer(min_df=15, max_df=0.5, stop_words = stop_words)
vectorized = vectorizer.fit_transform(merged_skills['skill'].values.astype('U'))

In [20]:
num_clusters = 90
km = KMeans(n_clusters = num_clusters, init = 'k-means++', n_init = 1,verbose=1)
clustered = km.fit(vectorized)
predict = km.predict(vectorized)

Initialization complete
Iteration  0, inertia 49.000
Iteration  1, inertia 46.445
Converged at iteration 1: center shift 0.000000e+00 within tolerance 9.122709e-07

In [21]:
vectorizer.get_feature_names()

['agil',
 'android',
 'angular',
 'angularj',
 'ansibl',
 'apach',
 'api',
 'aw',
 'azur',
 'cassandra',
 'chef',
 'ci',
 'cloud',
 'continu',
 'css',
 'css3',
 'django',
 'docker',
 'elasticsearch',
 'es6',
 'git',
 'go',
 'googl',
 'gulp',
 'hadoop',
 'html',
 'html5',
 'http',
 'io',
 'java',
 'javascript',
 'jenkin',
 'jira',
 'jqueri',
 'js',
 'json',
 'kafka',
 'kanban',
 'kubernet',
 'laravel',
 'learn',
 'less',
 'linux',
 'machin',
 'mongodb',
 'mysql',
 'nan',
 'nativ',
 'nginx',
 'node',
 'nodej',
 'nosql',
 'object',
 'on',
 'php',
 'postgresql',
 'puppet',
 'python',
 'rabbitmq',
 'rail',
 'react',
 'reactj',
 'redi',
 'redux',
 'rest',
 'rubi',
 'sass',
 'scala',
 'scrum',
 'selenium',
 'spark',
 'spring',
 'sql',
 'swift',
 'sysadmin',
 'tdd',
 'test',
 'typescript',
 'ui',
 'unix',
 'vue',
 'webpack']

In [22]:
skills

      job_id                   skill
0        553                       r
1        553                  python
2        553                     sql
3        554                  python
4        554                     sql
5        554                       r
6        555                  python
7        555                  django
8        555                     aws
9        555                     sql
10       555                   scrum
11       556                   linux
12       556              postgresql
13       556                    ceph
14       556                  python
15       557  continuous-integration
16       557                      qa
17       557         automated-tests
18       557                     sql
19       557                  python
20       558                  python
21       558                     sql
22       558           deep-learning
23       559                    ruby
24       559                     sql
25       559                  python
26       560                  python
27       560                  django
28       560              postgresql
29       561                  python
...      ...                     ...
3489     485           SQL Injection
3490     485                    CSRF
3491     485            OWASP Top 10
3492     486                   Linux
3493     486                  Python
3494     486                React JS
3495     486            React Native
3496     486                 Android
3497     486                     iOS
3498     487                    Java
3499     487                     PHP
3500     487                    J2EE
3501     487                  Spring
3502     487                   Azure
3503     487                     AWS
3504     487                   MySQL
3505     487           ElasticSearch
3506     487                 MongoDB
3507     487            RESTful APIs
3508     487                Saltsack
3509     487                  Puppet
3510     487                    Chef
3511     487                  Docker
3512     487              Kubernetes
3513     488                     NaN
3514     489                      C#
3515     489              JavaScript
3516     489            Visual Basic
3517     489                     XML
3518     489                    Apex

[4745 rows x 2 columns]

In [23]:
len(predict)

4745

In [24]:
vectorized.shape

(4745, 82)

In [25]:
len(skills.skill)

4745

In [26]:
skills['cluster'] = predict

In [27]:
skills[skills['cluster'] == 10]

      job_id           skill  cluster
2        553             sql       10
4        554             sql       10
9        555             sql       10
18       557             sql       10
21       558             sql       10
24       559             sql       10
61       568             sql       10
149      587             sql       10
165      590             sql       10
214      600             sql       10
226      603             sql       10
288      615             sql       10
313      620             sql       10
318      621             sql       10
481      656             sql       10
559      675             sql       10
588      681             sql       10
628      690             sql       10
684      703             sql       10
754      720             sql       10
765      722             sql       10
775      724             sql       10
846      740             sql       10
1002     775             sql       10
1124     805      sql-server       10
108       19             SQL       10
111       20             SQL       10
216       35             SQL       10
384       55             SQL       10
426       61             SQL       10
...      ...             ...      ...
2008     280             SQL       10
2066     288             SQL       10
2136     298             SQL       10
2221     314             SQL       10
2232     316             SQL       10
2363     332             SQL       10
2417     339      SQL Server       10
2421     340             SQL       10
2436     343             SQL       10
2437     344             SQL       10
2450     346             SQL       10
2453     347             SQL       10
2465     348             SQL       10
2511     355             SQL       10
2513     356             SQL       10
2520     356       Cloud SQL       10
2534     358             SQL       10
2584     366             Sql       10
2597     368             SQL       10
2618     373             SQL       10
2624     375             SQL       10
2699     386             SQL       10
2730     389             SQL       10
2740     390             SQL       10
2823     399             SQL       10
2847     403             SQL       10
2964     415             SQL       10
3381     473             SQL       10
3449     481             SQL       10
3489     485   SQL Injection       10

[85 rows x 3 columns]

In [28]:
skills.sort_values('cluster').count()

job_id     4745
skill      4715
cluster    4745
dtype: int64

In [29]:
gg = skills.groupby('cluster')

In [30]:
import collections, re, operator
from collections import Counter
def BagofWords(textlist):
    bagsofwords = [ collections.Counter(re.findall(r'\w+', txt))
            for txt in textlist]
    words=Counter()
    for bbb in bagsofwords:
        for bb,v in bbb.items():  
            words[bb]+=v
    sorted_words = sorted(words.items(), key=operator.itemgetter(1),reverse=True)
    return sorted_words

In [31]:
from collections import defaultdict
d=defaultdict()
key=set(predict)
for k in key:
    d[k]=[]
for x,y in gg:
    d[x]+=list(y.skill.values)
    print (y.skill.values)

['django' 'django' 'django' 'django' 'django' 'django' ' Django' ' Django'
 ' Django' ' Django' ' Django' ' Django' ' Django' ' Django' ' Django'
 ' Django']
['r' 'r' 'ceph' ..., ' Visual Basic' ' XML' ' Apex']
['css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css'
 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css' 'css'
 'css' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' Post.css' ' CSS' ' CSS'
 ' CSS' 'CSS' 'CSS' ' CSS' ' modular CSS (SCSS' ' CSS'
 ' CSS and JavaScript' 'CSS' ' (S)CSS' ' CSS' ' CSS' ' (S)CSS' ' CSS'
 ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS'
 ' CSS' ' CSS' ' CSS' ' (S)CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS'
 ' CSS' ' CSS/SCSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS'
 ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' CSS' ' SASS/CSS'
 ' SASS/CSS']
['python' 'python' 'python' 'python' 'python' 'python' 'python' 'python'
 'python' 'python' 'python' 'python' 'python' 'python' 'python' 'python'
 'python' 'python' 'python' 'python' 'python' 'python' 'python' 'python'
 'python' 'python' 'python' 'python' 'python' 'python' 'python' 'python'
 'python' 'python' 'python' 'python' 'python' 'python' 'python' 'python'
 'python' 'python' 'Python' ' Python' ' Python' ' Python' ' Python'
 ' Python' ' Python' 'Python' ' Python Celery' ' Python' ' Python' 'Python'
 'Python' ' Python' 'Python' 'Python' ' Python' 'Python' ' Python'
 ' Python' ' Python' 'python' ' Python' ' Python' ' Python' ' Python'
 ' Python' ' Python' ' Python' ' Python' ' Python' ' Python' ' Python'
 'Python' ' Python' ' Python' 'Python' ' Python' 'Python' ' Python '
 ' Python' ' Python' ' Python' 'Python' 'Python' ' Python' ' Python'
 ' Python' ' Python' ' Python' ' Python' ' Python' ' Python' ' Python'
 ' Python' 'Python GUI' ' Python' ' Python' ' Python' ' Python' ' Python'
 ' Python' ' Python' 'Python' ' Python' ' Python' 'Python' ' Python'
 ' Python' ' Python' ' Python' 'Python' ' Python' ' Python' 'Python'
 'Python' ' Python' ' Python' ' Python' ' Python' 'Python' 'Python'
 ' Python' 'Python' 'Python' ' Python' ' Python' ' Python' 'Python'
 ' Python' ' Python' ' Python' ' Python' ' Python' ' Python' ' Python'
 ' Python' ' Python' ' Python' ' Python' ' Python' 'Python' ' Python'
 'Python' ' Python 3' ' Python' ' Python' ' Python' ' Python' ' Python'
 'Python' ' Python' ' Python' ' Python']
['javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' 'javascript' 'javascript' 'javascript' 'javascript'
 'javascript' ' JavaScript' ' Javascript' 'JavaScript' ' Javascript'
 'Javascript' ' JavaScript' ' JavaScript' 'Javascript' ' JavaScript'
 ' JavaScript ' 'Javascript' ' JavaScript' ' JavaScript' ' JavaScript'
 'JavaScript' ' Javascript' 'JavaScript' 'JavaScript' 'JavaScript'
 ' Javascript' 'JavaScript' 'Javascript' ' JavaScript' 'Javascript'
 ' Javascript' ' Javascript' ' JavaScript' ' Javascript' 'JavaScript'
 ' JavaScript' 'Javascript' ' Javascript' ' Javascript' ' Javascript'
 ' javascript' 'Javascript ES2015' 'JavaScript' ' JavaScript' ' Javascript'
 ' Javascript' ' JavaScript' ' JavaScript' ' Javascript' ' Javascript'
 'JavaScript' ' JavaScript' ' Javascript' 'Javascript' ' JavaScript'
 ' Javascript' ' JavaScript' ' JavaScript' ' JavaScript' 'Javascript'
 ' JavaScript' 'Javascript' ' Javascript' ' Javascript' ' Javascript'
 ' Javascript' 'JavaScript' ' JavaScript' 'JavaScript' ' Javascript'
 ' JavaScript' ' JavaScript' ' JavaScript' 'JavaScript' ' JavaScript'
 ' JavaScript' 'JavaScript (ES2015)' 'Javascript' 'Javascript' 'JavaScript'
 ' JavaScript' 'JavaScript' ' Javascript' ' Javascript' ' JavaScript'
 'JavaScript' ' Javascript' ' JavaScript' ' Javascript' ' JavaScript'
 ' Javascript' ' Javascript' 'Javascript' ' JavaScript' ' JavaScript'
 'JavaScript' ' JavaScript' ' JavaScript' ' JavaScript' 'JavaScript'
 ' Javascript' 'JavaScript' ' JavaScript' ' JavaScript' 'Javascript'
 ' JavaScript' 'JavaScript' ' JavaScript' ' Javascript' 'JavaScript'
 ' JavaScript' ' JavaScript' ' JavaScript' ' JavaScript' 'JavaScript'
 ' JavaScript' 'Javascript' 'Javascript' 'JavaScript' ' JavaScript'
 ' JavaScript' ' JavaScript' ' JavaScript' ' JavaScript' ' JavaScript'
 'JavaScript' ' JavaScript' ' JavaScript' ' JavaScript' ' JavaScript'
 ' Javascript' ' JavaScript' ' JavaScript' ' JavaScript' ' JavaScript'
 'JavaScript' 'JavaScript' ' JavaScript' ' JavaScript' ' JavaScript'
 ' JavaScript' 'JavaScript' 'JavaScript' ' JavaScript' 'JavaScript'
 ' JavaScript' ' JavaScript' ' JavaScript' ' JavaScript'
 ' ES2015 JavaScript' ' JavaScript']
['ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails'
 'ruby-on-rails-4' 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails'
 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails'
 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails'
 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails' 'ruby-on-rails'
 'Ruby on Rails' ' Ruby on Rails' ' Ruby on Rails' ' Ruby on Rails'
 'Ruby on Rails' 'Ruby on Rails' 'Ruby-on-Rails' ' Ruby on Rails'
 'Ruby on Rails' 'Ruby w/o Rails' 'Ruby on Rails' ' Ruby on Rails'
 ' Ruby on Rails' ' Ruby on Rails' 'Ruby on Rails' 'Ruby on Rails'
 ' Ruby on Rails' ' Ruby on Rails' ' Ruby on Rails' ' Ruby on Rails'
 'Ruby on Rails' 'Ruby on Rails' ' Ruby on Rails' ' Ruby on Rails'
 'Ruby on Rails' 'Ruby on Rails' 'Ruby on Rails' 'Ruby on Rails'
 'Ruby on Rails' ' Ruby on Rails' ' Ruby on Rails']
['java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java'
 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java'
 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java'
 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java'
 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java-ee'
 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java-ee'
 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java'
 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java' 'java'
 'java' 'java' 'java-ee' 'java' 'java' ' Java' 'Java' 'Java' ' Java'
 ' Java' 'Java' 'Java' ' Java' ' Java' ' Java' ' Java' ' Java' 'Java'
 ' Java' 'Java' 'Java' 'Java' ' Java' ' Java' ' Java' ' Java' 'Java'
 ' Java' ' Java' ' Java' ' JAVA' ' Java' 'Java' ' Java' ' Java' ' Java'
 'Java' ' Java' ' Java' ' Java' ' Java' 'Java' 'Java' ' Java' ' Java'
 ' Java' ' Java' ' Java' ' Java' ' Java' ' Java' ' Java' 'Java' 'Java'
 ' Java' ' Java' ' Java' ' Java' ' Java' ' Java' ' Java' ' Java' ' Java'
 'Java' ' Java' 'Java' 'Java' 'Java' 'Java' 'Java' 'Java' ' Java' ' Java'
 ' Java' 'Java' 'Java' 'Java' ' Java' 'Java' ' Java' 'Java']
['react-redux' 'react' 'react-redux' ' React' ' React' ' React' ' React'
 ' React' ' React' ' React' ' React' ' React' ' React' ' React' ' react'
 ' React' ' React' ' React' ' React' ' React' ' React-router' ' React'
 ' React' ' React' ' React' ' React' ' React' ' React' ' React' ' React'
 ' React' ' React' ' React' ' React' ' React' ' React' ' React' ' React'
 ' React' ' React' ' React' ' React' ' React' ' React' ' React' ' React'
 ' React' 'React' ' React' ' React' ' React' 'React' ' React' ' React'
 ' React' ' React' 'React' ' React' ' React-router' ' React' ' React'
 ' React' ' React' ' React' ' React' ' React' ' React' ' React' ' React']
[' Restful APIs' ' Rest APIs' ' RESTful API' ' REST API' 'REST API'
 'RESTful API' ' restful APIs' ' REST APIs' ' REST APIs' ' REST APIs'
 ' REST APIs' ' Restful API' ' REST API design' 'RESTful API'
 ' RESTful API' ' Restful APIs' ' REST API' ' REST APIs' 'RESTful API’s'
 'REST API’s' ' REST-APIs' ' REST API' ' REST API' ' REST APIs' ' REST API'
 ' RESTful API' ' RESTful API' ' RESTful APIs' ' RESTful APIs' ' REST APIs'
 ' RESTful APIs' ' RESTful APIs' ' REST APIs' ' REST APIs' ' RESTful-APIs'
 ' RESTful API' 'RESTful APIs' ' REST API' ' Restful APIs' ' REST APIs'
 'REST APIs' ' RESTful APIs' ' RESTful APIs' ' Restful APIs' ' REST APIs'
 ' REST APIs' 'REST API' ' RESTful APIs']
['ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby'
 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' 'ruby' ' Ruby' ' Ruby'
 ' Ruby' 'Ruby' ' Ruby' ' Ruby' ' Ruby' ' Ruby' 'Ruby' 'Ruby' ' Ruby'
 ' Ruby' ' Ruby' ' Ruby' ' Ruby' ' Ruby' 'Ruby' ' Ruby' ' Ruby' 'Ruby/RoR'
 ' Ruby ' ' Ruby' 'Ruby' ' Ruby' 'Ruby' 'Ruby' 'Ruby' ' Ruby' 'Ruby'
 ' Ruby' 'Ruby' 'Ruby' ' Ruby' ' Ruby' ' Ruby' ' Ruby' ' Ruby' 'Ruby'
 ' Ruby' ' Ruby' 'Ruby' ' Ruby' 'Ruby' 'Ruby' ' Ruby']
['sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql'
 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql' 'sql'
 'sql-server' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL'
 ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL'
 ' SQL' 'SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' ' SQL' 'SQL'
 ' Transact SQL' ' SQL' ' SQL' ' SQL' 'SQL' ' SQL' ' SQL' 'SQL' ' SQL'
 ' SQL Server' ' SQL' 'SQL' 'SQL' ' SQL' 'SQL' ' SQL' 'SQL' 'SQL'
 ' Cloud SQL' 'SQL' 'Sql' ' SQL' 'SQL' 'SQL' ' SQL' ' SQL' ' SQL' ' SQL'
 'SQL' ' SQL' ' SQL' ' SQL' ' SQL Injection']
['aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws-lambda' 'aws' 'aws' 'aws' 'aws'
 'aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws'
 'aws' 'aws' 'aws' 'aws' 'aws' 'aws' 'aws-code-deploy' 'aws' ' AWS' ' AWS'
 'AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS stack' ' AWS'
 ' AWS' ' AWS' ' AWS' ' AWS' ' AWS SQS' ' AWS Kinesis' ' AWS RDS'
 ' AWS DynamoDB' ' AWS ElasticCache' ' AWS Redshift' ' AWS-Cloud' 'AWS'
 ' AWS' ' AWS stack' ' AWS' ' AWS' ' AWS' 'AWS Redshift' ' AWS' ' AWS'
 ' AWS' ' AWS EC2' ' AWS' ' AWS' ' AWS' ' AWS' 'AWS Services' ' AWS' ' AWS'
 ' AWS' ' AWS' ' AWS' 'AWS Services' ' AWS' ' AWS' 'AWS' ' AWS/Azure'
 ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS'
 ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS'
 ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS'
 ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS' ' AWS ELB' ' AWS' ' AWS' ' AWS'
 ' AWS']
['php' 'php' 'php' 'php' 'php' 'php' 'php' 'php' 'php' 'php' 'php' 'php'
 'php' 'php' 'php' 'php' 'composer-php' 'php' 'php' 'php' 'php' 'php' 'php'
 'php' 'php' 'PHP' ' PHP' ' PHP' 'PHP' ' php-fpm' ' PHP' ' PHP' ' PHP'
 'PHP' ' PHP' ' PHP' ' PHP' 'PHP' 'PHP' ' PHP' ' PHP' 'OOP PHP' ' PHP'
 ' PHP' ' PHP' 'PHP' ' PHP' ' Behat (PHP)' ' PHP' 'PHP' ' PHP' 'PHP' ' PHP'
 'PHP' ' PHP' 'PHP' ' PHP' ' PHP' 'PHP' 'PHP' ' PHP' ' PHP' 'PHP' ' PHP'
 'PHP' ' PHP' ' PHP' 'PHP' ' PHP' 'PHP' ' PHP' 'PHP' ' PHP Codeception'
 'PHP' ' PHP' 'PHP' ' Phalcon PHP' ' PHP' ' PHP']
['scala' 'scala' 'scala' 'scala' 'scala' 'scala' 'scala' 'scala' 'scala'
 'scala' 'scala' 'scala' 'scala' 'scala' 'scala' 'scala' 'scala' 'scala'
 'scala' 'scala' 'scala' 'scala' 'scala' ' Scala' ' Scala' 'Scala' ' Scala'
 ' Scala' 'Scala' 'Scala' ' Scala' ' Scala' 'Scala' 'Scala' 'Scala' 'Scala'
 'Scala' ' Scala' ' Scala' ' Scala' ' Scala' ' Scala' 'Scala' ' Scala'
 ' Scala' ' Scala' ' Scala' 'Scala' ' Scala' ' Scala' ' Scala' ' Scala'
 ' Scala' ' Scala' ' Scala' ' Scala' 'Scala' ' Scala' ' Scala']
['node.js' 'node.js' 'node.js' 'node.js' 'node.js' 'node.js' 'node.js'
 'node.js' 'node.js' 'node.js' 'node.js' 'node.js' 'node.js' 'node.js'
 'node.js' 'node.js' 'node.js' 'node.js' 'node.js' ' node.js' ' Node.js'
 ' Node.js' ' Node.js' ' Node.js' ' node.js' ' Node.js' ' Node.js'
 ' node.js' 'Node.js' ' node.js' 'Node.js' ' Node.js' ' Node.js' ' Node.js'
 ' Node.js' ' Node.js' 'Node.js CLI' ' Node.js' ' Node.js' ' node.js'
 ' Node.js' 'Node.js' ' Node.js' 'Node.js' ' Node.js' ' Node.js' ' Node.js'
 ' Node.js' ' Node.js' ' Node.js' ' Node.js']
['docker' 'docker' 'docker' 'docker' 'docker' 'docker' 'docker' 'docker'
 'docker' 'docker' 'docker' 'docker' 'docker' 'docker' 'docker' 'docker'
 'docker' 'docker' 'docker' 'docker' ' Docker' ' Docker' ' Docker'
 ' Docker' ' Docker' ' Kafka and Docker' ' Docker' ' Docker' ' Docker'
 ' Docker' ' Docker' ' Docker' ' Docker Vagrant' ' Docker' ' Docker'
 ' Docker' ' Docker' 'Docker' ' Docker' ' Docker' ' Docker' ' Docker'
 ' Docker' ' Docker' ' Docker' ' Docker' ' Docker' ' Docker' ' Docker'
 ' Docker' ' Docker' ' Docker' ' Docker' ' Docker' ' Docker' ' Docker'
 ' Docker' ' Docker' ' Docker' ' Docker' ' Docker-Compose' ' Docker'
 ' Docker' ' Docker' ' Docker' ' Docker Hub' ' Docker' ' Docker' ' Docker'
 ' Docker' ' Docker' ' Docker' ' Docker' ' Docker' ' Docker' ' Docker'
 ' Docker' ' Docker']
['angular' 'angular' 'angular' 'angular-ui-bootstrap' 'angular'
 'angular-fullstack' ' Angular' 'Angular.js' ' Angular.js' ' Angular'
 ' Angular' ' Angular' ' Angular ' ' Angular 4' ' AngularJS Angular'
 ' Angular' ' Angular' ' Angular' ' Angular' 'Angular' ' Angular'
 ' AngularJS Angular' ' Angular' ' Angular' ' Angular 1.4 / 2.0' ' Angular'
 ' Angular' ' Angular' ' Angular' ' Angular' ' Angular 1.4 / 2.0'
 ' Angular' ' Angular' ' Angular Material' ' Angular' ' Angular' ' Angular'
 ' Angular' 'Angular.js' ' Angular' ' Angular' ' Angular' ' Angular'
 ' Angular' ' Angular' ' Angular' ' Angular.js' ' Angular']
['linux' 'linux' 'linux' 'linux' 'linux' 'linux' 'linux' 'linux' 'linux'
 'linux' 'linux' 'linux' 'linux' 'linux' 'linux' 'linux' 'linux' ' Linux'
 ' Linux' ' Linux' ' Linux' ' Linux ' ' Linux' ' Linux' 'Linux' ' Linux'
 ' Linux' 'Linux' 'Linux' 'Linux' 'Linux' ' Linux' ' Linux' ' Linux'
 'Linux' ' Linux' 'Linux' ' Linux' ' Linux' 'Linux' ' Linux' 'Linux'
 'Linux' ' Linux' ' Linux' 'OSX/Linux' ' Linux' 'Linux' 'Linux' ' Linux'
 'Linux' ' Linux' ' Linux' ' Linux' 'Linux']
['nosql' 'nosql' 'nosql' 'nosql' 'nosql' 'nosql' 'nosql' 'nosql' 'nosql'
 ' NoSQL' ' nosql' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL'
 ' NoSQL' ' NoSQL' ' NoSQL' ' NoSql' ' NoSQL' ' NoSQL' ' NoSQL' 'NoSql'
 ' NoSql' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL' ' NOSQL' ' NOSQL' ' NoSQL'
 ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL' ' NoSQL'
 ' NoSQL' ' NoSQL' ' NoSQL']
['html' 'html' 'html' 'html' 'html' 'html' 'html' 'html' 'html' 'html'
 'html' 'html' 'html' ' HTML' 'HTML' ' HTML 5' 'HTML' 'HTML' 'HTML' ' HTML'
 ' HTML' ' HTML' ' HTML' 'HTML' 'HTML' ' HTML' 'HTML' 'HTML' ' HTML'
 ' HTML' ' HTML' ' HTML' 'HTML' ' HTML' ' HTML' 'HTML' 'HTML' ' HTML'
 ' HTML' ' HTML' ' HTML' 'HTML' ' HTML' ' HTML' ' HTML' ' HTML 5' ' HTML'
 '  HTML' 'HTML' ' HTML' ' HTML' 'HTML' ' HTML' ' HTML' ' HTML' ' HTML'
 ' HTML' ' HTML' ' HTML' 'HTML' ' HTML' ' HTML' 'HTML']
['cloud' 'cloud' 'cloud' 'cloud' 'cloud' 'cloud' 'cloud' 'cloud' 'cloud'
 'cloud' ' Spring Cloud Netflix (Eureka' ' Hybrid Cloud Technologies'
 ' Cloud Technology' ' Hybrid Cloud' ' Private Cloud'
 ' Adobe Creative Cloud' 'Cloud Foundry' ' Solr Cloud' ' Spring Cloud'
 'Cloud Foundry' ' Solr Cloud']
['jenkins' 'jenkins' 'jenkins' 'jenkins' 'jenkins' ' Jenkins' ' Jenkins'
 ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins'
 ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins'
 ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins'
 ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins'
 ' Jenkins' ' Jenkins' 'Jenkins' ' Jenkins ' ' Jenkins' ' Jenkins'
 ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins' ' Jenkins'
 ' Jenkins']
['git' 'git' 'git' 'git' 'git' 'git' 'git' ' Git' ' git' 'Git' ' GIT'
 ' Git ' ' git' ' Git' ' Git' 'Git' ' Git' ' Git ' ' Git' ' Git' ' git'
 ' git' ' git' 'git' ' Git' ' git' ' GIT' ' git' ' git' ' git' ' Git'
 ' git' ' git' ' git' ' Git' ' GIT' ' Git' ' Git' ' Git' ' Git' ' Git'
 ' Git' ' Git' ' Git' ' GIT' ' Git' ' git' ' Git' ' git' '  Git' ' Git'
 ' Git' ' git' ' git' ' git' ' git' ' Git' ' Git' ' Git' ' GIT' ' Git'
 ' Git' ' Git' ' Git' ' Git' ' Git' ' Git' ' Git' ' Git' ' Git' ' Git'
 ' Git' ' Git' ' Git' ' Git VCS' 'Git' ' Git' ' Git' ' Git' ' Git' ' Git'
 ' Git']
['html5' 'html5' 'html5' 'html5' 'html5' 'html5' 'html5' 'html5' 'html5'
 'html5' 'html5' 'html5' 'html5' 'html5' 'html5' 'html5' 'html5' 'html5'
 'html5' ' HTML5' ' HTML5' ' HTML5' ' HTML5' ' HTML5' 'HTML5' 'HTML5'
 'HTML5' ' HTML5' 'HTML5' ' HTML5' ' HTML5' ' HTML5' ' HTML5' ' HTML5'
 ' HTML5' 'HTML5' 'HTML5' ' HTML5' 'HTML5' ' HTML5' ' HTML5' ' HTML5'
 'HTML5' ' HTML5' ' HTML5' ' HTML5' ' HTML5' ' HTML5' 'HTML5' ' HTML5'
 ' HTML5' 'HTML5' ' HTML5' ' HTML5' 'HTML5' 'HTML5' ' HTML5' 'HTML5'
 'HTML5' ' HTML5' ' HTML5' ' HTML5' ' HTML5']
['mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql'
 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql'
 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' 'mysql' ' MySQL' ' MySQL'
 ' MySQL' ' MySQL' ' Mysql' ' MySQL' ' Mysql' ' MySQL' ' MySQL' 'mySQL'
 ' Mysql' ' MySQL' 'MySQL' ' MySQL' ' MYSQL' ' MySQL' ' MySQL' 'MySQL'
 ' Mysql' ' MySQL' ' MySQL' ' MySql' ' MySQL' ' MySQL' ' MySQL' ' MySQL'
 ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL'
 ' MySQL' ' MySQL' ' MySQL' ' MySQL ' ' MySQL' ' MySQL' ' MySQL' ' MySQL'
 ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL' ' MySQL'
 ' Mysql' ' MySQL' ' MySQL']
['apache-kafka' 'apache-kafka' 'apache-kafka' 'apache-kafka' ' Kafka'
 ' Kafka' ' Kafka' ' KAFKA' ' Kafka' ' Kafka' ' Kafka' ' Kafka' ' Kafka'
 ' Kafka' ' Kafka' ' Kafka' ' Kafka' ' Kafka' ' Kafka' ' Kafka' ' Kafka'
 ' Kafka' ' Kafka' ' Kafka' ' Kafka']
['video.js' 'backbone.js' 'backbone.js' 'backbone.js' 'JS' ' D3.js'
 ' Backbone.js' ' Backbone.js' 'JS Web Components' ' JS'
 ' Webpack/Require.js' ' Grunt.js ' ' Gulp.js ' ' Require.js' ' Grunt.js'
 ' Gulp.js' ' Express.js' ' JS' ' nightwatch.js' ' next.js' ' JS' ' D3.js'
 ' Browser JS APIs' ' Ember.js' ' D3.js' ' d3.js' ' D3.js' ' Chart.js'
 ' Backbone.js' ' Backbone.js' ' Vanilla.js' ' Pixi.js' ' JS' ' Vanilla.js'
 ' Require.js' ' D3.js' ' Chart.js']
['machine-learning' 'machine-learning' 'machine-learning'
 'machine-learning' 'machine-learning' ' Machine Learning'
 'Machine Learning' ' Machine Learning' ' Machine Learning'
 ' Machine Learning' ' Machine learning' ' Machine Learning'
 'Machine Learning' ' Machine Learning' ' Machine Learning'
 'Machine Learning' ' Machine Learning' ' Machine Learning']
['postgresql' 'postgresql' 'postgresql' 'postgresql' 'postgresql'
 'postgresql' 'postgresql' 'postgresql' 'postgresql' 'postgresql'
 'postgresql-9.6' 'postgresql' 'postgresql' 'postgresql' 'postgresql'
 ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' ' PostgreSQL'
 ' PostgreSQL' ' PostgreSQL' ' Postgresql' ' Postgresql' ' PostgreSQL'
 ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' 'PostgreSQL' ' PostgreSQL'
 ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' 'PostgreSQL' 'PostgreSQL'
 ' PostgreSQL' ' PostgreSQL' 'PostgreSQL' ' PostgreSQL' ' PostgreSQL'
 ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' ' Postgresql' ' PostgreSQL'
 ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' 'PostgreSQL' ' PostgreSQL'
 ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' ' PostgreSQL' ' PostgreSQL'
 ' PostgreSQL' ' PostgreSQL']
['spring' 'spring' 'spring' 'spring-mvc' 'spring' 'spring' 'spring'
 'spring' 'spring' 'spring' 'spring' 'spring' 'spring' 'spring-boot'
 'spring' 'spring' 'spring' 'spring' 'spring-boot' 'spring' ' Spring'
 ' Spring' ' Spring-Boot' ' Spring (DI' ' Spring REST' ' Spring WS)'

 ' Jira' ' Jira' ' JIRA' ' Jira' ' Jira' ' Jira' ' JIRA' ' Jira']
['mongodb' 'mongodb' 'mongodb' 'mongodb' 'mongodb' 'mongodb' 'mongodb'
 'mongodb' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB'
 ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB'
 ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB'
 ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB' ' MongoDB'
 ' MongoDB' ' MongoDB' ' MongoDB']
['angularjs' 'angularjs' 'angularjs' 'angularjs' 'angularjs' 'angularjs'
 'angularjs' 'angularjs' 'angularjs' 'angularjs' 'angularjs' 'angularjs'
 'angularjs' 'angularjs' 'angularjs' 'angularjs' 'angularjs' 'angularjs'
 'angularjs' 'angularjs' ' AngularJS' ' AngularJS' ' AngularJS'
 ' AngularJS' 'AngularJS' ' AngularJS' 'AngularJS' ' AngularJS'
 ' AngularJS' ' AngularJS' ' AngularJS' ' AngularJS' ' AngularJS'
 ' AngularJS' ' AngularJS' ' AngularJS' ' AngularJS' ' AngularJS'
 ' AngularJS' ' AngularJS' ' AngularJS' ' AngularJS' ' AngularJS'
 '  AngularJS' 'AngularJS' ' AngularJS']
['webpack' 'webpack' 'webpack' ' Webpack' ' Webpack' ' Webpack' ' Webpack'
 ' Webpack' ' Webpack' ' Webpack' ' webpack' ' Webpack' ' Webpack'
 ' Webpack' ' Webpack' ' Webpack' ' Webpack' ' Webpack' ' Webpack'
 ' Webpack' ' Webpack' ' Webpack' ' WebPack' ' Webpack' ' Webpack'
 ' webpack' ' Webpack' ' Webpack' ' Webpack' ' Webpack' ' Webpack'
 ' Webpack']
['Spark' ' Spark' ' Spark' ' Spark' ' spark' ' Spark' ' Spark' ' Spark'
 ' Spark' ' Spark' ' Spark' 'Spark' ' Spark' ' Spark' ' Spark' ' Spark'
 'Spark' ' Spark' ' Spark' ' Spark' ' spark' ' Spark' ' Spark' ' Spark'
 ' Spark' ' Spark']
['rest' 'restful-web-services' 'rest' 'restful-architecture' 'rest' 'rest'
 'rest' 'rest' 'rest' 'rest' 'rest' ' Rest' ' REST' ' REST' ' REST/SOAP'
 ' REST' ' Rest' ' REST' ' Rest' ' REST' ' REST' 'REST' ' RESTful' ' REST'
 ' REST' ' REST' ' RESTful' ' REST' ' REST' ' Rest' ' REST' ' REST' ' Rest'
 ' REST' ' REST' ' REST' ' REST' ' RESTFul' ' REST' ' REST']
['go' 'go' 'go' 'go' 'go' 'go' 'go' 'go' 'go' 'go' 'go' ' Go' ' Go' ' Go'
 ' Go' ' Go' ' Go' 'Go' 'Go' ' Go' ' Go ' ' Go' ' Go' ' Go' ' Go' ' Go'
 ' Go' ' Go' ' Go' ' Go' ' Go' ' Go' ' Go']
['css3' 'css3' 'css3' 'css3' 'css3' 'css3' 'css3' ' CSS3 ' ' CSS3' ' CSS3'
 ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3'
 ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3'
 ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3' ' CSS3'
 ' CSS3' ' CSS3']
[nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan]
['reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs'
 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs'
 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs'
 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs' 'reactjs'
 'reactjs' 'reactjs' ' ReactJS' 'ReactJS' ' ReactJS' ' ReactJS' ' ReactJS']
['kanban' ' Kanban ' ' Kanban' ' Kanban' 'Kanban' ' Kanban' ' Kanban'
 ' KANBAN' ' kanban' ' KANBAN' ' Kanban' ' Kanban' ' Kanban' ' Kanban'
 ' Kanban' ' Kanban' ' Kanban' ' Kanban' ' Kanban' ' Kanban' ' Kanban'
 ' Kanban' ' Kanban' ' Kanban' ' Kanban' ' Kanban' ' Kanban']
['android' 'android' 'android' 'android' 'android' 'android' 'android'
 'android' 'android' 'android' 'android' 'android' ' Android' ' Android'
 ' Android' ' Android' ' Android SDK' 'Android SDK' ' Android Studio'
 ' Calabash Android' 'Android' ' Android' 'Android' 'Android' ' Android'
 ' Android' 'Android' ' Android' ' Android']
['ansible' 'ansible' 'ansible' 'ansible' 'ansible' 'ansible' 'ansible'
 'Ansible' ' Ansible' ' Ansible' ' Ansible' ' Ansible' ' Ansible' 'Ansible'
 ' Ansible' ' Ansible' ' Ansible' ' Ansible' ' Ansible' ' Ansible'
 ' Ansible' ' Ansible' ' Ansible' ' Ansible' ' Ansible' ' Ansible']
['sass' 'sass' 'sass' 'sass' ' Sass' ' Sass' ' Sass' ' SASS Design' ' SASS'
 ' Sass' ' Sass' ' SASS' ' Sass and Bootstrap' ' SASS' ' SASS' ' Sass'
 ' SASS' ' SASS' ' Sass' ' SASS' 'SASS']
['objective-c' 'objective-c' 'objective-c' 'objective-c' 'objective-c'
 'objective-c' 'objective-c' 'objective-c' 'objective-c' ' Objective C'
 ' Objective C' ' Objective-C' 'Objective-C' 'Objective-C' 'Objective-C'
 'Objective-C' ' Objective-C' ' Objective-C' 'objective-C' 'Objective-C'
 'Objective-C' ' Objective-C' ' Objective C' ' Objective-C' ' Objective-C'
 ' Objective-C' ' Objective-C']
['swift' 'swift' 'swift' 'swift' 'swift' 'swift' 'swift' ' Swift' ' Swift'
 ' Swift' ' Swift' ' Swift' ' Swift' 'Swift' ' Swift' 'Swift' ' swift'
 ' Swift' ' Swift' 'Swift' ' Swift' ' Swift' 'Swift' 'Swift' ' Swift'
 ' Swift']
['redis' 'redis' 'redis' ' Redis' ' Redis' 'Redis' ' Redis' ' Redis'
 ' Redis' ' Redis' ' Redis' ' redis' ' Redis' ' Redis' ' Redis' ' Redis'
 ' Redis' ' Redis' ' Redis ' ' Redis' ' redis' ' Redis' ' Redis'
 ' Aerospike/Redis/Elasticsearch' ' Redis' ' Redis' ' Redis' ' Redis'
 ' Redis' ' Redis' ' Redis' ' Redis' ' Redis']
['elasticsearch' 'elasticsearch' 'elasticsearch' 'elasticsearch'
 ' ElasticSearch' ' Elasticsearch' ' Elasticsearch' 'ElasticSearch'
 ' Elasticsearch' ' Elasticsearch' ' Elasticsearch' ' Elasticsearch'
 ' Elasticsearch' ' Elasticsearch' ' Elasticsearch' ' ElasticSearch'
 ' ElasticSearch' ' Cassandra/ElasticSearch' ' ElasticSearch'
 ' ElasticSearch' ' Elasticsearch' ' ElasticSearch' ' Elasticsearch'
 ' ElasticSearch' ' ElasticSearch' ' Elasticsearch' ' Elasticsearch'
 ' Elasticsearch' ' Elasticsearch' 'ElasticSearch' 'ElasticSearch'
 ' ElasticSearch' ' ElasticSearch' ' ElasticSearch' ' ElasticSearch']
['kubernetes' 'kubernetes' 'kubernetes' 'kubernetes' ' Kubernetes'
 ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes'
 ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes'
 ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes'
 ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes' ' Kubernetes']
['puppet' 'puppet' 'puppet' 'puppet' 'puppet' ' Puppet' ' Puppet' ' Puppet'
 ' Puppet' ' Puppet' ' Puppet' ' Puppet' ' Puppet' 'Puppet' ' Puppet'
 ' Puppet' 'Puppet' ' Puppet' ' Puppet' ' Puppet' ' Puppet' ' Puppet']
['hadoop' 'hadoop' 'hadoop' 'hadoop' 'hadoop' 'hadoop' 'hadoop' 'hadoop'
 ' Hadoop' ' Hadoop' ' Hadoop' ' Hadoop' ' Hadoop ' ' Hadoop' ' Hadoop'
 ' Hadoop' ' Hadoop' ' Hadoop' ' Hadoop' ' Hadoop' ' Hadoop' ' Hadoop'
 ' Hadoop' ' Hadoop' 'Hadoop' ' Hadoop' ' hadoop' 'Hadoop']
['continuous-integration' 'continuous-deployment' 'continuous-integration'
 'continuous-integration' 'continuous-delivery' 'continuous-integration'
 'continuous-integration' 'continuous-delivery' 'continuous-integration'
 'continuous-integration' ' Continuous Integration'
 ' Continuous Integration' ' Continuous integration' 'Continuous Delivery'
 ' Continuous Integration']
['jquery' 'jquery' 'jquery' 'jquery' 'jquery' 'jquery' 'jquery' 'jquery'
 'jquery' ' JQuery' ' jQuery' ' jQuery' ' JQuery' ' jquery' ' JQuery'
 ' JQuery' ' JQuery' ' jQuery' ' jQuery' ' JQuery' ' jQuery' ' jQuery'
 ' JQuery' ' jQuery' ' jQuery']
['redux' 'redux' 'redux' ' Redux' ' Redux Thunk' ' Redux' ' Redux' ' Redux'
 ' Redux' ' Redux' ' Redux' ' Redux' ' Redux' ' Redux' ' Redux' ' Redux'
 ' Redux' ' Redux' ' Redux' ' Redux' ' Redux']
['apache' 'apache-storm' 'apache' 'apache' 'apache' ' Apache Storm'
 ' Apache Cordova ' ' Apache Cordova' ' Apache Tomcat' ' Apache Airflow'
 'Nginx or Apache' ' Apache' ' apache' ' Nginx/Apache' ' Apache/Nginx'
 ' Apache/Nginx' ' Apache Cordova' ' Apache Parquet' ' Apache' ' Apache'
 ' Apache Tomcat' ' Apache Tomcat']
['selenium' 'selenium' 'selenium' 'selenium' 'selenium'
 'selenium-webdriver' 'selenium' 'selenium' ' Selenium' ' Selenium'
 ' Selenium' ' Selenium' 'Selenium' ' Selenium Grid' 'Selenium' 'Selenium'
 ' Selenium' 'Selenium' 'Selenium' ' Selenium' ' Selenium' ' Selenium'
 'Selenium' ' Selenium' 'Selenium' ' Selenium Web Driver' ' Selenium'
 ' Selenium']
['sysadmin' 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin'
 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin'
 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin'
 'sysadmin' 'sysadmin' 'sysadmin' 'sysadmin']
['ios' 'ios' 'ios' 'ios-frameworks' 'ios' 'ios' 'ios' 'ios' ' iOS'
 ' iOS SDK' ' iOS SDK' ' iOS SDK' ' Calabash iOS' ' Phaser.io'
 ' Cocoa Touch & iOS' 'iOS' ' iOS' 'iOS' ' iOS' ' iOS']
['tdd' 'tdd' 'tdd' 'tdd' 'tdd' ' TDD/testing' ' TDD (PHPUnit)' ' TDD'
 ' TDD' ' TDD' ' TDD' ' TDD' ' TDD/BDD' 'TDD' ' TDD' ' TDD' ' TDD' ' TDD'
 ' TDD']
['agile' 'agile' 'agile' 'agile' 'agile' 'agile' 'agile' 'agile' 'agile'
 ' agile' ' Agile' ' agile' ' Agile' ' agile' 'agile' ' agile' 'Agile'
 ' Agile' ' Agile' 'Agile' 'Agile' ' Agile' ' Agile']
['chef' 'chef' 'chef' ' Chef' ' Chef' ' Chef' ' Chef' ' Chef' ' Chef'
 ' Chef' ' Chef' ' Chef' ' Chef' ' Chef' ' Chef' ' Chef' ' Chef' ' Chef'
 ' Chef' ' Chef' ' Chef']
[' UI/UX' ' UX/UI' ' UI/UX' ' UI/UX' ' UI Kit' ' UI/UX' ' UI' ' UI'
 ' UI/UX' ' UI' ' UX/UI' ' UI' ' XCode UI Automation' ' UI Testing'
 ' Mobile UI/UX' ' Mobile UI/UX' ' Mobile UI/UX' ' Mobile UI/UX' ' UI/UX']
['laravel' 'laravel' 'laravel' ' Laravel' 'Laravel' ' Laravel' 'Laravel'
 ' Laravel' ' Laravel' ' Laravel' ' Laravel' ' Laravel' ' Laravel'
 'Laravel' ' Laravel' ' Laravel' ' Laravel']
['rabbitmq' 'rabbitmq' ' RabbitMQ' 'RabbitMQ' ' RabbitMQ' ' RabbitMQ'
 ' RabbitMQ' ' RabbitMQ' ' RabbitMQ' ' RabbitMQ' ' RabbitMQ' ' RabbitMQ'
 ' RabbitMQ' ' RabbitMQ' ' RabbitMQ']
[' NodeJS' ' NodeJS' 'NodeJS' ' NodeJS' ' Nodejs' ' NodeJs' ' NodeJS'
 ' NodeJS' ' NodeJS' 'Nodejs' ' NodeJS' ' NodeJS' ' NodeJS' ' NodeJS'
 ' NodeJS' ' NodeJS']
[' CI server' ' CI' ' CI/CD' ' CD / CI' ' CI-System' ' CI' ' CI/CD'
 ' CI/CD' ' GitLab CI' ' GitLab CI' ' CI' ' CI' ' CI/CD' ' CI/CD' ' CI/CD'
 ' CI/CD']
['automated-tests' 'testing' 'testing' 'testing' 'testing'
 'automated-tests' 'performance-testing' 'testing' 'mobile-testing'
 'automated-tests' ' A/B testing' ' cross OS testing' ' A/B Testing '
 ' A/B Testing' ' A/B test' ' A/B tests' ' Unit Testing' ' Py.Test']
['azure' ' Azure' ' Azure' ' Azure' ' Azure' ' Azure' ' Azure' ' Azure'
 ' Azure/GCP' ' Azure' ' Azure' 'azure' ' Azure' ' Azure' ' Azure']
['json' 'json' ' JSON' ' JSON' ' JSON' ' JSON' ' JSON' ' JSON' ' JSON'
 ' JSON' ' JSON' ' JSON' ' JSON' ' JSON' ' Json' ' JSON' ' JSON' ' JSON']
['http' 'http' 'http' 'http' 'http' 'HTTP' 'HTTP Protocol' ' HTTP Protocol'
 ' HTTP' ' Akka HTTP' ' HTTP' ' HTTP' ' HTTP' ' Akka HTTP' ' HTTP' ' HTTP']
['typescript' 'typescript' 'typescript' 'typescript' 'typescript'
 ' TypeScript' ' TypeScript' ' TypeScript' ' Typescript' ' TypeScript'
 ' Typescript' ' TypeScript' ' TypeScript' ' TypeScript' ' TypeScript'
 ' Typescript' ' TypeScript' ' TypeScript']
['gulp' ' Gulp' ' Gulp' ' gulp' ' Gulp' ' Gulp' ' Gulp' ' Gulp' ' Gulp'
 ' gulp' ' Gulp' ' Gulp' ' gulp' ' Gulp' ' Gulp']
['react-native' 'react-native' 'react-native' 'react-native'
 ' React Native' ' React Native' ' React Native' 'React native'
 'React Native' ' React Native' 'React Native' ' React native'
 ' React Native']
['vue.js' ' vue.js' ' Vue.js' ' Vue.js ' ' Vue.js' ' Vue.js' ' Vue.js'
 ' Vue.js' ' Vue.js' ' Vue.js']
[' ES6' ' ES6' ' ES6' ' ES6+' ' ES6' ' ES6' ' ES6' 'ES6' ' ES6' ' ES6'
 ' ES6' ' ES6' ' Es6' ' ES6']
['google-analytics' 'google-container-engine' ' Google Analytics'
 'Google Analytics' ' Google Tag Manager' ' Google Apps script'
 ' Google Protobuf' ' Google Analytics' ' Google AdWords' ' Google Adwords'
 ' Google AdWords' ' Google Sheets' ' Google Compute Engine'
 'Google GSuite']
['less' 'less' ' LESS' ' LESS' ' Less' ' Less' ' LESS' ' LESS' ' LESS'
 ' LeSS' ' LESS' ' LESS' ' LESS/PostCSS']
['api' 'api' 'api' 'apis' 'backend API’s' ' Ready API'
 ' Unity Multiplayer API (UNET)' ' Metal API' ' API' ' Cocoa APIs']
['cassandra' 'cassandra' 'cassandra' 'cassandra' 'cassandra' ' Cassandra'
 ' Cassandra' ' Cassandra' ' Cassandra' ' Cassandra' ' Cassandra'
 ' Cassandra' ' Cassandra' ' Cassandra' ' Cassandra']
['unix' ' Unix' ' Unix ' ' UNIX' ' UNIX' ' Unix' ' Unix' 'Unix' ' UNIX OS'
 'UNIX']
[' Nginx' ' nginx' ' nginx' ' Nginx' ' Nginx' ' nginx' ' Nginx' ' nginx'
 ' NGINX' ' Nginx' ' NGINX']
['deep-learning' ' scikit-learn' ' scikit-learn' ' Scikit-learn'
 ' scikit-learn' ' Scikit-learn' ' Scikit-learn' ' Deep Learning'
 ' Scikit Learn']
[' SASS/LESS' ' SASS/LESS' ' SASS / LESS' ' Sass/Less' ' LESS/SASS'
 ' LESS/SASS' ' Sass/LESS' ' SASS/LESS']
['node' ' Node' ' Node' ' Node' ' Node' ' Node' ' Node' ' Node' ' Node'
 ' Node']
[' React.js' ' React.js' ' React.js' ' React.js' ' React.js' ' React.js'
 ' React.js' 'React.js' ' React JS']
['JavaScript ES6' 'Javascript ES6' 'Javascript ES6/ES2015' 'Javascript ES6'
 'JavaScript (ES6)' ' JavaScript (ES6)' 'JavaScript (ES6+)'
 'JavaScript (Es6)']
[' UNIX/Linux' ' Linux/Unix' 'Linux/UNIX' ' Unix/Linux' ' Unix/Linux'
 ' Unix/Linux' 'Linux / Unix' ' Linux/UNIX']
['apache-spark' 'apache-spark' ' Apache Spark' ' Apache Spark'
 ' Apache Spark' 'Apache Spark' ' Apache Spark']
['google-cloud-platform' ' Google Cloud Platform' ' Google Cloud Platform'
 ' Google Cloud Platform' ' Google Cloud Platform']

In [32]:
key=6
words = BagofWords(d[key])
print (len(d[key]))

161

In [33]:
len(d[7])

69

In [34]:
words

[('java', 85), ('Java', 75), ('ee', 3), ('JAVA', 1)]

In [35]:
skills.sort_values('cluster',ascending=False).to_csv("skills_features_cluster.tsv", encoding='utf8', index=False, sep='\t')

In [36]:
cluster_type={}

In [37]:
cluster_type[89] = 'JavaScript frameworks'
cluster_type[88] = 'Sass/LESS' #SASS
cluster_type[87] = 'React.js'
cluster_type[86] = 'scikit-learn / deep learning' 
cluster_type[85] = 'Unix/Linux'
cluster_type[84] = 'Spark' #apache-spark
cluster_type[83] = 'JavaScript frameworks' #vue.js
cluster_type[82] = 'JavaScript frameworks' #javascript es6
cluster_type[81] = 'api' 
cluster_type[80] = 'Unix/Linux' #unix
cluster_type[79] = 'NGINX'
cluster_type[78] = 'Node.js' #node
cluster_type[77] = 'React native'
cluster_type[76] = 'RabbitMQ'
cluster_type[75] = 'Cassandra'
cluster_type[74] = 'JavaScript frameworks' #es6
cluster_type[73] = 'Sass/LESS' #less
cluster_type[72] = 'Gulp'
cluster_type[71] = 'Continuous integration'
cluster_type[70] = 'Node.js' #NodeJS

In [38]:
cluster_type[69] = 'Django'
cluster_type[68] = 'CI/CD'
cluster_type[67] = 'TDD'
cluster_type[66] = 'Azure'
cluster_type[65] = 'Laravel'
cluster_type[64] = 'HTTP'
cluster_type[63] = 'Cloud'
cluster_type[62] = 'TypeScript'
cluster_type[61] = 'JSON'
cluster_type[60] = 'UI/UX'
cluster_type[59] = 'A/B Testing'
cluster_type[58] = 'Kafka'
cluster_type[57] = 'Redux'
cluster_type[56] = 'Apache Frameworks'
cluster_type[55] = 'Puppet'
cluster_type[54] = 'Chef'
cluster_type[53] = 'sysadmin'
cluster_type[52] = 'Google packages'
cluster_type[51] = 'JQuery'
cluster_type[50] = 'Sass/LESS' #sass

In [39]:
cluster_type[49] = 'Android'
cluster_type[48] = 'Ansible'
cluster_type[47] = 'Kubernetes'
cluster_type[46] = 'Hadoop'
cluster_type[45] = 'Kanban'
cluster_type[44] = 'iOS'
cluster_type[43] = 'Go'
cluster_type[42] = 'Swift'
cluster_type[41] = 'Agile' 
cluster_type[40] = 'Objective-C'
cluster_type[39] = 'Redis'
cluster_type[38] = 'Angular.js' #angular
cluster_type[37] = 'Selenium'
cluster_type[36] = 'Spring'
cluster_type[35] = ''
cluster_type[34] = 'Webpack'
cluster_type[33] = 'Angular.js' #angularjs
cluster_type[32] = 'Jira'
cluster_type[31] = 'Spark' #spark
cluster_type[30] = 'MongoDB'

In [40]:
cluster_type[29] = 'React.js' #reactjs
cluster_type[28] = 'RESTful APIs'
cluster_type[27] = 'Machine Learning'
cluster_type[26] = 'Docker'
cluster_type[25] = 'Elasticsearch' 
cluster_type[24] = 'JavaScript frameworks'
cluster_type[23] = 'Scrum' 
cluster_type[22] = 'CSS' #css3
cluster_type[21] = 'Scala'
cluster_type[20] = 'NoSQL'
cluster_type[19] = 'Unix/Linux' #linux
cluster_type[18] = 'React.js' #React
cluster_type[17] = 'Jenkins'
cluster_type[16] = 'MySQL'
cluster_type[15] = 'PostgreSQL'
cluster_type[14] = 'Git'
cluster_type[13] = 'Ruby' #ruby-on-rails #ruby on rails
cluster_type[12] = 'HTML'
cluster_type[11] = 'Java'
cluster_type[10] = 'PHP'

In [41]:
cluster_type[9] = 'HTML' #html5
cluster_type[8] = 'CSS' #css
cluster_type[7] = 'Node.js' #Node.js
cluster_type[6] = 'SQL'
cluster_type[5] = 'RESTful APIs' #REST
cluster_type[4] = 'Ruby'
cluster_type[3] = 'Python'
cluster_type[2] = 'AWS'
cluster_type[1] = 'mixed'
cluster_type[0] = 'JavaScript'

In [42]:
CT = pd.DataFrame.from_dict(cluster_type,orient='index')

In [43]:
CT = CT.reset_index()

In [44]:
CT.columns = ['cluster','type']

In [45]:
CT.keys()

Index(['cluster', 'type'], dtype='object')

In [46]:
skills.head()

   job_id   skill  cluster
0     553       r        1
1     553  python        3
2     553     sql       10
3     554  python        3
4     554     sql       10

In [47]:
skills_final = pd.merge(skills, CT, on='cluster')
skills_final = skills_final.drop('cluster', axis=1)
skills_final

      job_id                  skill                          type
0        553                      r                         mixed
1        554                      r                         mixed
2        556                   ceph                         mixed
3        557                     qa                         mixed
4        563               engineer                         mixed
5        563                backend                         mixed
6        566                    etl                         mixed
7        567                 devops                         mixed
8        567                   bash                         mixed
9        567             opennebula                         mixed
10       568                    etl                         mixed
11       568        amazon-redshift                         mixed
12       570                    c++                         mixed
13       572                 zeromq                         mixed
14       573        amazon-redshift                         mixed
15       573          amazon-lambda                         mixed
16       573         amazon-kinesis                         mixed
17       574                   hive                         mixed
18       574               dijkstra                         mixed
19       575                     c#                         mixed
20       575                   .net                         mixed
21       575           data-science                         mixed
22       576              websphere                         mixed
23       578          microservices                         mixed
24       579        user-experience                         mixed
25       580               mondrian                         mixed
26       583                routing                         mixed
27       583                  mesos                         mixed
28       584                    c++                         mixed
29       585                  c++14                         mixed
...      ...                    ...                           ...
4715     106            SASS / LESS         JavaScript frameworks
4716     142              Sass/Less         JavaScript frameworks
4717     166              LESS/SASS         JavaScript frameworks
4718     214              LESS/SASS         JavaScript frameworks
4719     338              Sass/LESS         JavaScript frameworks
4720     379              SASS/LESS         JavaScript frameworks
4721      94                 NodeJS                       Laravel
4722     176                 NodeJS                       Laravel
4723     212                 NodeJS                       Laravel
4724     252                 NodeJS                       Laravel
4725     277                 Nodejs                       Laravel
4726     282                 NodeJs                       Laravel
4727     290                 NodeJS                       Laravel
4728     297                 NodeJS                       Laravel
4729     375                 NodeJS                       Laravel
4730     376                 Nodejs                       Laravel
4731     379                 NodeJS                       Laravel
4732     383                 NodeJS                       Laravel
4733     402                 NodeJS                       Laravel
4734     436                 NodeJS                       Laravel
4735     466                 NodeJS                       Laravel
4736     481                 NodeJS                       Laravel
4737     142         JavaScript ES6  scikit-learn / deep learning
4738     151         Javascript ES6  scikit-learn / deep learning
4739     154  Javascript ES6/ES2015  scikit-learn / deep learning
4740     172         Javascript ES6  scikit-learn / deep learning
4741     379       JavaScript (ES6)  scikit-learn / deep learning
4742     383       JavaScript (ES6)  scikit-learn / deep learning
4743     392      JavaScript (ES6+)  scikit-learn / deep learning
4744     394       JavaScript (Es6)  scikit-learn / deep learning

[4745 rows x 3 columns]

# Manual clustering

In [95]:
#grab the rows from the skills_final table tagged as 'mixed'
skills_mixed = skills_final[skills_final['type'] == 'mixed']
skills_mixed.dropna(inplace=True)
skills_mixed.head()

   job_id     skill   type
0     553         r  mixed
1     554         r  mixed
2     556      ceph  mixed
3     557        qa  mixed
4     563  engineer  mixed

In [106]:
#import the skills3.csv holding the manual clusters made using a spreadsheet
skills_rawdata = pd.read_csv('DB/Skills3.csv')[['type','skill']]
skills_rawdata.columns = ['group','value']
skills_rawdata.dropna(inplace=True)

In [97]:
skills_rawdata.head()

     group     value
0        R         r
1  bigdata      ceph
2       qa        qa
3    mixed  engineer
4  backend   backend

In [98]:
#map the rows tagged as mixed and replace with the new clusters (manually done)
skills_mixed['Group'] = skills_mixed['skill'].map(skills_rawdata.set_index('value')['group'])
skills_mixed.drop(['type'],axis=1, inplace= True)
skills_mixed.columns = ['job_id','skill','type']
skills_mixed.head()

   job_id     skill     type
0     553         r        R
1     554         r        R
2     556      ceph  bigdata
3     557        qa       qa
4     563  engineer    mixed

In [99]:
#creation of a new dataframe excluding the "mixed' types and replacing them with the 'skills_mixed' df.
skills_final2 = skills_final[skills_final['type'] != 'mixed']
final_skills_table = pd.concat([skills_final2, skills_mixed])
final_skills_table.head()

      job_id   skill    type
1472     553  python  Python
1473     554  python  Python
1474     555  python  Python
1475     556  python  Python
1476     557  python  Python

In [102]:
#what's left as mixed
final_skills_table[final_skills_table['type'] == 'mixed']

      job_id                      skill   type
4        563                   engineer  mixed
26       583                    routing  mixed
42       591           full-text-search  mixed
43       592               high-traffic  mixed
47       594                performance  mixed
50       595                performance  mixed
55       603              microstrategy  mixed
56       604  content-management-system  mixed
60       607              combinatorics  mixed
63       610                       deis  mixed
71       616             infrastructure  mixed
78       622             event-sourcing  mixed
82       623                        qml  mixed
83       623                   embedded  mixed
85       625                        web  mixed
102      636                        web  mixed
110      644    single-page-application  mixed
111      646                     stylus  mixed
133      660           solid-principles  mixed
142      675            payment-gateway  mixed
143      675                    payment  mixed
144      675         payment-processing  mixed
150      682                  scripting  mixed
151      683    single-page-application  mixed
152      685                 foundation  mixed
172      707                 networking  mixed
177      711               web-services  mixed
179      712                     search  mixed
183      714        end-to-end-delivery  mixed
184      714         project-management  mixed
...      ...                        ...    ...
309      802                   testlink  mixed
313      803                        sdk  mixed
318      806                   informix  mixed
321      810                 confluence  mixed
322      810                    plugins  mixed
323      810                     add-on  mixed
324      811                development  mixed
328      813                 programmin  mixed
341      823             core-bluetooth  mixed
342      823                    ibeacon  mixed
348      826            data-structures  mixed
350      826         linear-programming  mixed
544       93                        IoT  mixed
560       98                       VLAN  mixed
584      105                       Edge  mixed
700      137    ISTQB/CAT certification  mixed
758      174                    Unity3D  mixed
789      186                  SauceLabs  mixed
795      188                      Unity  mixed
868      216                      HTTP2  mixed
933      249                        SAN  mixed
949      256        CISSP certification  mixed
950      257                        CDN  mixed
977      269                 Lamp stack  mixed
1027     300                      ISTQB  mixed
1042     307                    XStudio  mixed
1044     309        Yocto/Open Embedded  mixed
1108     345                    Unity3D  mixed
1256     405                        HLS  mixed
1328     427                   Ethernet  mixed

[103 rows x 3 columns]

In [105]:
#1060 should have been tagged but NaN values are returned instead - why?
final_skills_table[final_skills_table['type'].isnull()]

      job_id             skill type
175      710             behat  NaN
352      827             behat  NaN
354        1               GIS  NaN
355        2               C++  NaN
356        2            Matlab  NaN
357        2                 R  NaN
358        3         Wordpress  NaN
359        6           Express  NaN
360        6              RxJS  NaN
361        6               GCP  NaN
362        6      CloudFoundry  NaN
363        6           CouchDB  NaN
364        6         Memcached  NaN
365        6           Varnish  NaN
366        6           HAProxy  NaN
367        7        modern JVM  NaN
368        9              BASH  NaN
369       10             MLlib  NaN
370       10            Presto  NaN
371       10            Impala  NaN
372       10             Hive   NaN
373       11            Golang  NaN
374       11               SQS  NaN
375       12               C++  NaN
376       12               CAD  NaN
377       13      ECMAScript 6  NaN
378       13             Bower  NaN
379       13             Babel  NaN
380       15        Confluence  NaN
381       15               F2P  NaN
...      ...               ...  ...
1438     470             Sonar  NaN
1439     471             Shell  NaN
1441     475          Firebase  NaN
1442     475         Bootstrap  NaN
1443     475       ActionCable  NaN
1444     476               XML  NaN
1446     478            CoreOS  NaN
1447     478         Terraform  NaN
1450     481            Elixir  NaN
1451     481   ECMAScript 2015  NaN
1452     481                Qt  NaN
1453     481               GCP  NaN
1454     482              Flux  NaN
1455     483              Play  NaN
1456     483        Confluence  NaN
1457     483         BitBucket  NaN
1458     484             Xcode  NaN
1459     484       Cocoa Touch  NaN
1460     484         MVC/MVVM   NaN
1461     485          Angular2  NaN
1462     485           Clojure  NaN
1463     485               XSS  NaN
1464     485              CSRF  NaN
1465     485      OWASP Top 10  NaN
1466     487              J2EE  NaN
1467     487          Saltsack  NaN
1468     489                C#  NaN
1469     489      Visual Basic  NaN
1470     489               XML  NaN
1471     489              Apex  NaN

[1060 rows x 3 columns]